if ARCH_S32V244

config SYS_CPU
	string
	default "armv8"

config SYS_VENDOR
	string
	default "freescale"

config SYS_SOC
	string
	default "s32v244"

config BAUDRATE
	int "Serial baudrate"
	default 115200

config DDR_HANDSHAKE_AT_RESET
	bool "Enable DDR handshake"
	default y
	help
	  Enable DDR handshake after functional reset

source "board/freescale/s32v244evb/Kconfig"

endif
