if ARCH_S32

config SYS_SOC
	string
	default "s32"

config BAUDRATE
	int "Serial baudrate"
	default 115200

config NXP_S32G2XX
	bool
	select S32_GEN1
	help
	  Platforms having S32G2XXX SoC

config NXP_S32G3XX
	bool
	select S32_GEN1
	help
	  Platforms having S32G3XXX SoC

config NXP_S32R45
	bool
	select S32_GEN1
	help
	  Platforms having S32R45 SoC

choice
	prompt "Select S32 Target Board Support"
	default TARGET_S32G274ARDB
	help
	  S32 Target Board Selection

config TARGET_S32R45EVB
	bool "Support s32r45evb"
	select NXP_S32R45

config TARGET_S32R45SIM
	bool "Support s32r45 VDK"
	select NXP_S32R45

config TARGET_S32R45EMU
	bool "Support s32r45 ZeBu"
	select NXP_S32R45

config TARGET_S32G2XXAEVB
	bool "Support s32g274aevb"
	select NXP_S32G2XX
	select MISC_INIT_R if SJA1105

config TARGET_S32G274ARDB
	bool "Support s32g274ardb"
	select NXP_S32G2XX
	select ADC
	select S32_SARADC

config TARGET_S32G274ABLUEBOX3
	bool "Support s32g274abluebox3"
	select NXP_S32G2XX
	help
	  Enable Microsys S32G SoM Bluebox 3 target.
	  S32G works as PCIE EP.

config TARGET_S32G274ASIM
	bool "Support s32g274a VDK"
	select NXP_S32G2XX

config TARGET_S32G274AEMU
	bool "Support s32g274a ZeBu"
	select NXP_S32G2XX

config TARGET_S32G399AEMU
	bool "Support S32G399A ZeBu"
	select NXP_S32G3XX

config TARGET_S32G3XXAEVB
	bool "Support for S32G3 EVB boards"
	select NXP_S32G3XX

endchoice

if TARGET_S32G274ARDB

choice
	prompt "S32G274ARDB Revision"
	default S32G274ARDB2
	help
	  S32G274ARDB Revision.
	  Default selection is S32G274ARDB2

config S32G274ARDB
	bool "S32G274ARDB (Rev B)"
	help
	  S32G274ARDB Revision B SCH-46384.

config S32G274ARDB2
	bool "S32G274ARDB2 (Rev C)"
	help
	  S32G274ARDB Revision C SCH-47440.

endchoice

endif

config S32_CMU
	bool "Enable Clock Monitoring Unit-Frequency Check"
	default y
	depends on S32_GEN1
	help
	  Checks if the frequency of a monitored clock (monitored_clock)
	  is within a programmable frequency range specified by the user.

config BOARD_NFS_BOOT_INTERFACE
	string "Board NFS Boot Interface"
	default "br0" if TARGET_S32G274ABLUEBOX3
	default "eth0"

source "board/freescale/Kconfig"

endif
