if ARCH_S32

config SYS_SOC
	string
	default "s32"

config BAUDRATE
	int "Serial baudrate"
	default 115200

config NXP_S32G2XX
	bool
	select S32_GEN1
	help
	  Platforms having S32G2XXX SoC

config NXP_S32G3XX
	bool
	select S32_GEN1
	help
	  Platforms having S32G3XXX SoC

config NXP_S32R45
	bool
	select S32_GEN1
	help
	  Platforms having S32R45 SoC

choice
	prompt "Select S32 Target Board Support"
	default TARGET_S32V234EVB
	help
	  S32 Target Board Selection

config TARGET_S32V234HPCSOM
	bool "Support HPC SOM Board"
	select S32V2

config TARGET_S32V234CCPB
	bool "Support s32v234ccpb"
	select S32V234CCPB
	select S32V2

config TARGET_S32V234EVB
	bool "Support s32v234evb"
	select SYS_FSL_ERRATUM_ESDHC111
	select S32V2
	help
	  S32V Evaluation System for high-performance, safe computation-intensive
	  front vision, surround vision and sensor fusion applications.

config TARGET_S32V234PCIE
	bool "Support s32v234pcie"
	select S32V2
	help
	  S32V234 board with PCIe Edge connector.

config TARGET_MPXS32V234
	bool "Support s32v234sbc"
	select S32V234EVB_29288
	select S32V2

config TARGET_CAMPPS32V2
	bool "Support Camera card"
	select S32V2
	help
	  Enable Camera card target.
	  Camera card is a development board with 6x S32V.
	  This config always will target the latest revision of the board.

config TARGET_CAMPPS32V2_REVB
	bool "Support Camera card rev B"
	select S32V2
	help
	  Enable Camera card Rev B target.
	  Camera card is a development board with 6x S32V.

config TARGET_S32R45EVB
	bool "Support s32r45evb"
	select NXP_S32R45

config TARGET_S32R45SIM
	bool "Support s32r45 VDK"
	select NXP_S32R45

config TARGET_S32R45EMU
	bool "Support s32r45 ZeBu"
	select NXP_S32R45

config TARGET_S32G2XXAEVB
	bool "Support s32g274aevb"
	select NXP_S32G2XX
	select MISC_INIT_R if SJA1105

config TARGET_S32G274ARDB
	bool "Support s32g274ardb"
	select NXP_S32G2XX

config TARGET_S32G274ABLUEBOX3
	bool "Support s32g274abluebox3"
	select NXP_S32G2XX
	help
	  Enable Microsys S32G SoM Bluebox 3 target.
	  S32G works as PCIE EP.

config TARGET_S32G274ASIM
	bool "Support s32g274a VDK"
	select NXP_S32G2XX

config TARGET_S32G274AEMU
	bool "Support s32g274a ZeBu"
	select NXP_S32G2XX

config TARGET_S32G399AEMU
	bool "Support S32G399A ZeBu"
	select NXP_S32G3XX

config TARGET_S32G3XXAEVB
	bool "Support for S32G3 EVB boards"
	select NXP_S32G3XX

endchoice

if TARGET_S32V234EVB

choice
	prompt "S32V234EVB Board Family Member"
	default S32V234EVB_29288
	help
	  S32V234EVB Board Family Members.
	  Default selection is S32V234EVB_29288.

config S32V234EVB_28899
	bool "S32V234EVB_28899"
	help
	  First S32V234EVB generation.

config S32V234EVB_29288
	bool "S32V234EVB_29288"
	help
	  Second S32V234EVB generation.

config S32V234BBMINI_29406
	bool "S32V234BBMINI_29406"
	help
	  S32V234EVB mini bluebox.

endchoice

endif

if TARGET_S32G274ARDB

choice
	prompt "S32V234G274ARDB Revision"
	default S32G274ARDB2
	help
	  S32V234G274ARDB Revision.
	  Default selection is S32G274ARDB2

config S32G274ARDB
	bool "S32G274ARDB (Rev B)"
	help
	  S32G274ARDB Revision B SCH-46384.

config S32G274ARDB2
	bool "S32G274ARDB2 (Rev C)"
	help
	  S32G274ARDB Revision C SCH-47440.

endchoice

endif

choice
	prompt "Select DDR type"
	default S32_LPDDR2
	help
	  S32 DDR Configuration

config S32_LPDDR2
	bool "LPDDR2 Support"
	help
	  Enable the support for Micron LPDDR2,
	  2*32-bit, up to 1066 MHz data rate, 2*1 GB addressable.

config S32_LPDDR4
	bool "LPDDR4 Support"
	help
	  Enable the support for Micron LPDDR4

config S32_DDR3
	bool "DDR3 Support"
	help
	  Enable the support for Micron DDR3,
	  2*32-bit, up to 1066 MHz data rate, 2*1 GB addressable.

endchoice

config DDR_HANDSHAKE_AT_RESET
	bool "Enable DDR handshake"
	default y
	help
	  Enable DDR handshake after functional reset.
	  Execute additional checks in case of a functional reset.

config S32_CMU
	bool "Enable Clock Monitoring Unit-Frequency Check"
	default y
	depends on S32_GEN1
	help
	  Checks if the frequency of a monitored clock (monitored_clock)
	  is within a programmable frequency range specified by the user.

config BOARD_NFS_BOOT_INTERFACE
	string "Board NFS Boot Interface"
	default "br0" if TARGET_S32G274ABLUEBOX3
	default "eth0"

source "board/freescale/Kconfig"
source "board/microsys/mpxs32v234/Kconfig"

endif
