# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

if ARCH_S32G3

choice
	prompt "S32G3 board select"
	default TARGET_S32G399ARDB3

config TARGET_S32G399ARDB3
	bool "Support S32G399ARDB3 board"
	imply DM_PMIC_FS5600
	imply DM_PMIC_PF5020
	imply I2C_EEPROM
	imply PHY_ATHEROS
	imply PHY_MICREL
	imply PHY_MICREL_KSZ90X1
	select ADC
	select NXP_S32GRDB_BOARD
	select S32_SARADC
	select SPI_FLASH_MACRONIX

config TARGET_S32G3XXAEVB
	bool "Support S32G3-EVB board"
	imply ADC
	imply DM_USB
	imply I2C_EEPROM
	imply PHY
	imply PHY_AQUANTIA
	imply PHY_MICREL
	imply PHY_MICREL_KSZ90X1
	imply S32_SARADC
	imply SAF1508BET_USB_PHY
	imply SJA1105
	imply USB
	imply USB_EHCI_HCD
	select MISC_INIT_R if SJA1105
	select NXP_S32GEVB_BOARD
	select SPI_FLASH_MACRONIX

config TARGET_S32G399AEMU
	bool "Support S32G399A ZeBu"
	select TARGET_TYPE_S32GEN1_EMULATOR

endchoice

source "board/nxp/s32-cc/s32g/Kconfig"
source "board/nxp/s32g399ardb3/Kconfig"
source "board/nxp/s32g3xxaevb/Kconfig"
source "board/nxp/s32g399aemu/Kconfig"

endif
