# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

config MACH_S32
	bool
	select ARM64
	select DM

config SYS_VENDOR
	string
	default "nxp"

config NXP_S32CC
	bool
	imply CMD_DHCP
	imply CMD_EXT2
	imply CMD_EXT4
	imply CMD_FAT
	imply CMD_MDIO
	imply CMD_MII
	imply CMD_MTD
	imply CMD_PART
	imply CMD_PING
	imply DM_ETH
	imply DM_I2C
	imply DOS_PARTITION
	imply DWC_ETH_QOS_S32CC
	imply EFI_LOADER
	imply EFI_LOADER_BOUNCE_BUFFER
	imply FSL_DSPI
	imply FS_FAT
	imply MISC
	imply MP
	imply NET_RANDOM_ETHADDR
	imply NXP_S32CC_PIT_TIMER
	imply S32CC_CMU
	imply SPI
	imply SYS_I2C_MXC
	imply TIMER
	select CLK
	select CLK_SCMI
	select CPU
	select DM_DEVICE_REMOVE
	select DM_GPIO
	select DM_MTD
	select DM_SPI
	select DM_SPI_FLASH
	select DWC_ETH_QOS
	select FSL_LINFLEXUART
	select FSL_QSPI
	select FSL_QSPI_AHB_FULL_MAP
	select FSL_USDHC
	select HUSH_PARSER
	select MACH_S32
	select MMC_HS400_ES_SUPPORT
	select MMC_HS400_SUPPORT
	select MTD
	select OF_BOARD
	select OF_BOARD_FIXUP
	select OF_CONTROL
	select OF_LIVE
	select OF_SYSTEM_SETUP
	select PINCTRL
	select PINCTRL_FULL
	select PINCTRL_S32CC
	select S32CC_GPIO
	select SCMI_FIRMWARE
	select SPI_FLASH
	select SPI_FLASH_MTD
	select SPI_FLASH_SFDP_SUPPORT
	select SPI_MEM
	select SYSRESET
	select SYSRESET_PSCI

source "arch/arm/mach-s32/s32-cc/Kconfig"
