# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

if TARGET_S32R45EVB

config SYS_CONFIG_NAME
	default "s32r45evb"

config SYS_BOARD
	default "s32r45evb"

config DEFAULT_DEVICE_TREE
	default "s32r45"

config NR_DRAM_BANKS
	default 2

config ENV_SECT_SIZE
	default 0x10000 if QSPI_BOOT

endif
