config NXP_S32GRDB_BOARD
	bool
	default n
	imply NVME

config NXP_S32GEVB_BOARD
	bool
	default n

config S32GEN1_HWCONFIG
	default "pcie0:mode=rc,clock=ext;pcie1:mode=sgmii,clock=ext,fmhz=125,xpcs_mode=2G5" if (PCIE_S32GEN1 && FSL_PFENG) && NXP_S32GRDB_BOARD
	default "pcie0:mode=rc,clock=ext;pcie1:mode=sgmii,clock=ext,fmhz=125,xpcs_mode=0" if (PCIE_S32GEN1 && FSL_PFENG) && NXP_S32GEVB_BOARD
