config SYS_VENDOR
	string
	default "freescale"

config S32_GEN1
	bool "S32 GEN1 Common Chassis"
	imply DM_ETH
	imply DM_I2C
	imply DM_PCI
	imply DM_PMIC
	imply DM_PMIC_VR5510
	imply DM_SPI
	imply DM_SPI_FLASH
	imply DWC_ETH_QOS_DEVICES
	imply DWC_ETH_QOS_S32CC
	imply FSL_DSPI
	imply FSL_LINFLEXUART
	imply FSL_PFENG
	imply FSL_QSPI
	imply FSL_USDHC
	imply MISC
	imply MMC_HS400_ES_SUPPORT
	imply MP
	imply PCI
	imply PCIE_S32GEN1
	imply S32_TIMER
	imply SPI
	imply SYS_I2C_MXC
	imply TIMER
	select ARCH_MISC_INIT
	select ARM_SMCCC
	select BINMAN
	select CLK
	select CLK_SCMI
	select CPU
	select DISTRO_DEFAULTS
	select DM
	select DM_GPIO
	select DM_MMC
	select DM_SERIAL
	select MMC_HS400_SUPPORT
	select OF_CONTROL
	select OF_SEPARATE
	select PINCTRL
	select PINCTRL_FULL
	select PINCTRL_S32
	select S32_GPIO
	select SCMI_FIRMWARE
	select SYSRESET
	select SYSRESET_PSCI
	select SYS_MALLOC_F
	help
	  Platform Selection

config EXTRA_KERNEL_BOOT_ARGS
	string "Additional boot arguments for Linux kernel"
	default ""

config PHY_RGMII_DIRECT_CONNECTED
	bool "Enable fixed PHY for MDIO Bus/PHY emulation with fixed speed/link PHYs"
	default n
	help
	  Adds the platform "fixed" MDIO Bus to cover the boards that
	  use PHYs that are not connected to the real MDIO bus.

config XEN_SUPPORT
	bool "Enable Xen EL2 Booting and set environment variables in order to boot directly into Xen Hypervisor"
	default n
	help
	  Skip the enablement of CONFIG_ARMV8_SWITCH_TO_EL1 and set Xen Image,
	  fdts load addresses and u-boot environment variables in order for u-boot
	  to directly load the Xen Image which will use a given Kernel Image as
	  Dom0.

source "board/freescale/s32-gen1/Kconfig"
