# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

if TARGET_S32G274ARDB2

config SYS_CONFIG_NAME
	default "s32g274ardb2"

config SYS_BOARD
	default "s32g274ardb2"

config NR_DRAM_BANKS
	default 2

config ENV_SECT_SIZE
	default 0x10000 if QSPI_BOOT

endif
