# (C) Copyright 2017 MicroSys Electronics GmbH

if TARGET_MPXS32V234

config SYS_BOARD
	string
	default "mpxs32v234"

config SYS_VENDOR
	string
	default "microsys"

config SYS_CONFIG_NAME
	string
	default "s32v234sbc"

# S32V234EVB rev. A board with DDR3 has 4x512 MB DDR chips
# DDR0(512MB) and DDR1(512MB).
# S32V234EVB rev. D board with LPDDR2 has 2x256 MB DDR chips
# DDR0(256MB) and DDR1(256MB).
# U-boot uses only one DDR slot.

config SYS_DDR_SIZE
	hex
	default 0x80000000 if S32_DDR3
	default 0x10000000 if S32_LPDDR2

config SYS_DATA_BASE
	hex "Data Base"
	default 0x3E800000
	help
	  U-boot data base address (normally SRAM base address)

config SYS_MEM_SIZE
	hex "RAM Memory Size"
	default 0x00400000
	help
	  U-boot SRAM size (4 MB for S32V234)

config EXTRA_KERNEL_BOOT_ARGS
	string "Additional boot arguments for Linux kernel"
	default ""

endif
