# (C) Copyright 2017 MicroSys Electronics GmbH

if TARGET_MPXS32V234

config SYS_BOARD
	string
	default "mpxs32v234"

config SYS_VENDOR
	string
	default "microsys"

config SYS_CONFIG_NAME
	string
	default "s32v234sbc"

config SYS_DATA_BASE
	hex "Data Base"
	default 0x3E800000
	help
	  U-boot data base address (normally SRAM base address)

config SYS_MEM_SIZE
	hex "RAM Memory Size"
	default 0x00400000
	help
	  U-boot SRAM size (4 MB for S32V234)

config EXTRA_KERNEL_BOOT_ARGS
	string "Additional boot arguments for Linux kernel"
	default ""

endif
