if TARGET_S32V344 || TARGET_S32G275 || TARGET_S32R45X

config SYS_BOARD
	string
	default "s32-gen1"

config SYS_CONFIG_NAME
	string
	default "s32v344" if TARGET_S32V344
	default "s32g275" if TARGET_S32G275
	default "s32r45x" if TARGET_S32R45X

# DDR0(256MB) and DDR1(256MB).
# U-boot uses only one DDR slot.

config SYS_DDR_SIZE
	hex
	default 0x80000000 if S32_LPDDR4

config PHY_RGMII_DIRECT_CONNECTED
	bool "Enable fixed PHY for MDIO Bus/PHY emulation with fixed speed/link PHYs"
	default n
	help
	  Adds the platform "fixed" MDIO Bus to cover the boards that
	  use PHYs that are not connected to the real MDIO bus.

config XEN_SUPPORT
	bool "Enable Xen EL2 Booting and set environment variables in order to boot directly into Xen Hypervisor"
	default n
	help
	  Skip the enablement of CONFIG_ARMV8_SWITCH_TO_EL1 and set Xen Image,
	  fdts load addresses and u-boot environment variables in order for u-boot
	  to directly load the Xen Image which will use a given Kernel Image as
	  Dom0.

choice
	prompt "Select U-Boot's execution level"
	default S32_RUN_AT_EL3
	help
	  In secure boot scenarios, there would be a Trusted Firmware running at
	  EL3 just before U-Boot, while the latter runs at EL2. Running at EL2
	  prevents U-Boot from configuring certain registers, in particular
	  secure GICv3 registers.
	  While the secure boot feature and the Trusted Firmware are still in
	  development, this choice will enable the U-Boot and firmware developer
	  switch between EL3 and EL2 execution levels. The default is EL3, to
	  allow for backward compatibility with existing, stable configurations.

	config S32_RUN_AT_EL3
		bool "U-Boot runs at EL3 (no TF-A)"
		help
		  U-Boot runs at EL3 as the first component in the boot flow.
		  This boot flow does not accommodate an ARM Trusted Firmware
		  (TF-A) for this platform.

	config S32_RUN_AT_EL2
		bool "U-Boot runs at EL2 (with TF-A)"
		help
		  U-Boot runs at EL2 and is started by the ARM Trusted Firmware
		  (TF-A) for this platform.
endchoice

endif
