# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

if NXP_S32CC

config SYS_TEXT_BASE
	default 0xffaa0000

config SYS_LOAD_ADDR
	default 0x80000000

config SYS_DATA_BASE
	hex "Data Base"
	default 0xffa00000
	help
	  U-Boot data base address in DDR.

config S32CC_MAX_DTB_SIZE
	hex "Max size reserved for device tree in image layout"
	default 0x7000

config SYS_MALLOC_F_LEN
	default 0x2000

config S32CC_CONFIG_FILE
	string
	default "arch/arm/mach-s32/s32-cc/s32cc.cfg"

config LMB_MAX_REGIONS
	default 16

config ENV_OFFSET
	default 0x1e0000

if SD_BOOT
config ENV_IS_IN_MMC
	default y

config ENV_SIZE
	default 0x2000
endif
endif

source "arch/arm/mach-s32/s32g2/Kconfig"
source "arch/arm/mach-s32/s32g3/Kconfig"
source "arch/arm/mach-s32/s32r45/Kconfig"
