// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2020 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "fsl-s32-gen1.dtsi"
/ {
	model = "NXP S32G27x";
	compatible = "fsl,s32g275-simu", "fsl,s32g275", "fsl,s32gen1",
				 "arm,vexpress,v2p-aarch64", "arm,vexpress";

	aliases {
		pcie1 = &pcie1;
	};

	signature {
		key-boot_key {
			required = "conf";
			algo = "sha1,rsa2048";
			key-name-hint = "boot_key";
		};
	};

	memory_DDR0@800000000 {
		device_type = "memory";
		reg = <0x8 0x0 0 0x40000000>, /* 0 - 1 GB */
		      <0x8 0x40000000 0 0x40000000>, /* 1 - 2 GB */
		      <0x8 0x80000000 0 0x80000000>; /* 2 - 4 GB */
		      /* extended DDR from 4 to 32 GB should go elsewhere */
	};

	memory_DDR1@8800000000 {
		device_type = "memory";
		reg = <0x88 0x0 0 0x40000000>, /* 0 - 1 GB */
		      <0x88 0x40000000 0 0xC0000000>; /* 1 - 4 GB */
		      /* extended DDR from 4 to 32 GB should go elsewhere */
	};

	serdes1: serdes@44180000 {
		compatible = "fsl,s32gen1-serdes";
		reg = <0x00 0x44100000 0x0 0x80000   /* dbi registers */
		       0x00 0x44180000 0x0 0x04000>; /* serdes registers */
		reg-names = "dbi", "ss";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci-generic";
		device_id = <1>;
		num-lanes = <2>; /* supports max 2 lanes */
	};

	pcie1: pcie@44100000 {
		compatible = "fsl,s32gen1-pcie";
		reg = <0x00 0x44100000 0x0 0x80000   /* dbi registers */
		       0x48 0x00000000 0x0 0x20000>; /* configuration space */
		reg-names = "dbi", "config";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		serdes-handle = <&serdes1>;
		device_id = <1>;
		num-lanes = <1>;
		bus-range = <0x0 0xff>;
		ranges =
			/* downstream I/O */
			<0x81000000 0x0 0x00000000 0x48 0x00020000 0x0 0x00010000
			/* non-prefetchable memory */
			0x82000000 0x0 0x40000000 0x48 0x40000000 0x0 0x40000000>;
		status = "disabled";
	};

	pfe: ethernet@46080000 {
		compatible = "fsl,s32g274a-pfe";
		reg = <0x0 0x46000000 0x0 0x1000000>;
		status = "disabled";
	};
};

&qspi {
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&usdhc0 {
	status = "okay";
};

&pcie0 {
	status = "okay";

	link-speed = <3>; /* Gen3 */
};

&pcie1 {
	status = "okay";

	link-speed = <2>; /* Gen2 */
};
