// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2021 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */
#include <dt-bindings/clock/s32g-clock.h>
#include <dt-bindings/clock/s32g-scmi-clock.h>
#include <dt-bindings/pinctrl/s32g-pinctrl.h>

/dts-v1/;
#include "fsl-s32-gen1.dtsi"
/ {
	model = "NXP S32G2XX";
	compatible = "fsl,s32g", "fsl,s32gen1", "arm,vexpress,v2p-aarch64",
				"arm,vexpress";

	aliases {
		pcie1 = &pcie1;
	};

	signature {
		key-boot_key {
			required = "conf";
			algo = "sha1,rsa2048";
			key-name-hint = "boot_key";
		};
	};

	serdes1: serdes@44180000 {
		compatible = "fsl,s32gen1-serdes";
		reg = <0x00 0x44100000 0x0 0x80000   /* dbi registers */
		       0x00 0x44180000 0x0 0x04000>; /* serdes registers */
		reg-names = "dbi", "ss";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci-generic";
		device_id = <1>;
		num-lanes = <2>; /* supports max 2 lanes */
		clocks = <&clks S32GEN1_SCMI_CLK_SERDES_REF>;

		assigned-clocks =
			<&clks S32G_CLK_SERDES1_LANE0_TX>,
			<&clks S32G_CLK_SERDES1_LANE0_CDR>,
			<&clks S32G_CLK_SERDES1_LANE1_TX>,
			<&clks S32G_CLK_SERDES1_LANE1_CDR>;
		assigned-clock-parents =
			<&serdes1_lane0_ext_tx 0>,
			<&serdes1_lane0_ext_cdr 0>,
			<&serdes1_lane1_ext_tx 0>,
			<&serdes1_lane1_ext_cdr 0>;

		status = "okay";
	};

	ddr: ddr@403C0000 {
		compatible = "fsl,s32gen1-ddr-err050543";
		/* Will be modified by ATF */
		status = "disabled";
	};

	pcie1: pcie@44100000 {
		compatible = "fsl,s32gen1-pcie";
		reg =
			<0x00 0x44100000 0x0 0x80000   /* dbi registers */
			/* configuration space, 4KB each for cfg0 and cfg1
			 * at the end of the outbound memory map
			 */
			0x4f 0xffffe000 0x0 0x00002000>;
		reg-names = "dbi", "config";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		serdes-handle = <&serdes1>;
		device_id = <1>;
		num-lanes = <1>; /* supports max 1 pcie lane */
		link-speed = <3>; /* supports Gen3 speed */
		bus-range = <0x0 0xff>;
		ranges =
			/* downstream I/O, 64KB and aligned naturally just before
			 * the config space to minimize fragmentation
			 */
			<0x81000000 0x0 0x00000000 0x4f 0xfffe0000 0x0 0x00010000
			/* non-prefetchable memory, with best case size
			 * and alignment
			 */
			 0x82000000 0x0 0x00000000 0x48 0x00000000 0x7 0xfffe0000>;
		status = "disabled";
	};

	pfe_mac0_ext_rx: pfe_mac0_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <312500000>;
		#clock-cells = <1>;
	};

	pfe_mac0_ext_tx: pfe_mac0_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
		#clock-cells = <1>;
	};

	pfe_mac0_ext_ref: pfe_mac0_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

	pfe_mac1_ext_rx: pfe_mac1_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
		#clock-cells = <1>;
	};

	pfe_mac1_ext_tx: pfe_mac1_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
		#clock-cells = <1>;
	};

	pfe_mac1_ext_ref: pfe_mac1_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

	pfe_mac2_ext_rx: pfe_mac2_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
		#clock-cells = <1>;
	};

	pfe_mac2_ext_tx: pfe_mac2_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <300000000>;
		#clock-cells = <1>;
	};

	pfe_mac2_ext_ref: pfe_mac2_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

	pfe: ethernet@46080000 {
		compatible = "fsl,s32g274a-pfe";
		reg = <0x0 0x46000000 0x0 0x1000000>;
		clocks = <&clks S32G_SCMI_CLK_PFE_PE>,
			/* PFE0 */
			<&clks S32G_SCMI_CLK_PFE0_RX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE0_TX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE0_RX_RGMII>,
			<&clks S32G_SCMI_CLK_PFE0_TX_RGMII>,
			/* PFE1 */
			<&clks S32G_SCMI_CLK_PFE1_RX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE1_TX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE1_RX_RGMII>,
			<&clks S32G_SCMI_CLK_PFE1_TX_RGMII>,
			/* PFE2 */
			<&clks S32G_SCMI_CLK_PFE2_RX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE2_TX_SGMII>,
			<&clks S32G_SCMI_CLK_PFE2_RX_RGMII>,
			<&clks S32G_SCMI_CLK_PFE2_TX_RGMII>;
		clock-names = "pe",
			"mac0_rx_sgmii", "mac0_tx_sgmii",
			"mac0_rx_rgmii", "mac0_tx_rgmii",
			"mac1_rx_sgmii", "mac1_tx_sgmii",
			"mac1_rx_rgmii", "mac1_tx_rgmii",
			"mac2_rx_sgmii", "mac2_tx_sgmii",
			"mac2_rx_rgmii", "mac2_tx_rgmii";
		pinctrl-0 = <&pinctrl0_pfe0 &pinctrl0_pfe0_mdio &pinctrl1_pfe0
			&pinctrl1_pfe0_mdio>;
		pinctrl-1 = <&pinctrl0_pfe0_mdio &pinctrl1_pfe0_mdio>;
		pinctrl-2 = <&pinctrl0_pfe1 &pinctrl0_pfe1_mdio &pinctrl1_pfe1
			&pinctrl1_pfe1_mdio>;
		pinctrl-3 = <&pinctrl0_pfe1_mdio &pinctrl1_pfe1_mdio>;
		pinctrl-4 = <&pinctrl0_pfe2 &pinctrl0_pfe2_mdio &pinctrl1_pfe2
			&pinctrl1_pfe2_mdio>;
		pinctrl-5 = <&pinctrl0_pfe2_mdio &pinctrl1_pfe2_mdio>;
		pinctrl-names = "pfe0_rgmii", "pfe0_sgmii",
			"pfe1_rgmii", "pfe1_sgmii",
			"pfe2_rgmii", "pfe2_sgmii";
		status = "disabled";
	};

	siul2_0@4009C000 {
		compatible = "simple-mfd";
		status = "okay";
		reg = <0x0 0x4009C000 0x0 0x2000>;

		pinctrl0: siul2-pinctrl0 {
			compatible = "fsl,s32-gen1-siul2-pinctrl";
			#pinctrl-cells = <2>;
			/* MSCR range */
			pins = <&pinctrl0 0 101>,
			/* IMCR range */
			<&pinctrl0 512 595>;
			status = "okay";
		};

		gpio0: siul2-gpio0 {
			compatible = "fsl,s32-gen1-siul2-gpio";
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pinctrl0 0 0 102>;
			status = "okay";
		};
	};

	siul2_1@44010000 {
		compatible = "simple-mfd";
		status = "okay";
		reg = <0x0 0x44010000 0x0 0x2000>;

		pinctrl1: siul2-pinctrl1 {
			compatible = "fsl,s32-gen1-siul2-pinctrl";
			#pinctrl-cells = <2>;
			/* MSCR range */
			pins = <&pinctrl1 112 190>,
			/* IMCR range */
			<&pinctrl1 631 1023>;
			status = "okay";
		};

		gpio1: siul2-gpio1 {
			compatible = "fsl,s32-gen1-siul2-gpio";
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pinctrl1 0 112 11>,
				<&pinctrl1 11 144 47>;
			status = "okay";
		};
	};
};

&clks {
	clocks = <&clks S32GEN1_SCMI_CLK_FTM0_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM1_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM0_EXT>,
		<&clks S32GEN1_SCMI_CLK_FTM1_EXT>,
		<&clks S32GEN1_SCMI_CLK_FLEXCAN_CAN>,
		<&clks S32GEN1_SCMI_CLK_SPI_REG>,
		<&clks S32GEN1_SCMI_CLK_QSPI_FLASH1X>;

	mc_cgm2: mc_cgm2@44018000 {
		compatible = "fsl,s32gen1-mc_cgm2";
		reg = <0x0 0x44018000 0x0 0x3000>;

		assigned-clocks =
			<&clks S32G_CLK_PFE_MAC0_EXT_REF>,
			<&clks S32G_CLK_PFE_MAC1_EXT_REF>,
			<&clks S32G_CLK_PFE_MAC2_EXT_REF>,
			<&clks S32G_CLK_MC_CGM2_MUX0>,
			/* PFE MAC0 */
			<&clks S32G_CLK_MC_CGM2_MUX7>,
			<&clks S32G_CLK_MC_CGM2_MUX4>,
			<&clks S32G_CLK_MC_CGM2_MUX1>,
			/* PFE MAC1 */
			<&clks S32G_CLK_MC_CGM2_MUX8>,
			<&clks S32G_CLK_MC_CGM2_MUX5>,
			<&clks S32G_CLK_MC_CGM2_MUX2>,
			/* PFE MAC2 */
			<&clks S32G_CLK_MC_CGM2_MUX9>,
			<&clks S32G_CLK_MC_CGM2_MUX6>,
			<&clks S32G_CLK_MC_CGM2_MUX3>,

			<&clks S32G_CLK_PFE_PE>,
			<&clks S32G_CLK_PFE_MAC0_REF_DIV>,
			<&clks S32G_CLK_PFE_MAC0_RX>,
			<&clks S32G_CLK_PFE_MAC0_TX_DIV>,
			<&clks S32G_CLK_PFE_MAC1_REF_DIV>,
			<&clks S32G_CLK_PFE_MAC1_RX>,
			<&clks S32G_CLK_PFE_MAC1_TX>,
			<&clks S32G_CLK_PFE_MAC2_REF_DIV>,
			<&clks S32G_CLK_PFE_MAC2_RX>,
			<&clks S32G_CLK_PFE_MAC2_TX>;
		assigned-clock-parents =
			<&pfe_mac0_ext_ref 0>,
			<&pfe_mac1_ext_ref 0>,
			<&pfe_mac2_ext_ref 0>,
			<&clks S32G_CLK_ACCEL_PLL_PHI1>,
			/* PFE MAC0 */
			<&clks S32G_CLK_PFE_MAC0_EXT_REF>,
			<&clks S32G_CLK_SERDES1_LANE0_CDR>,
			<&clks S32G_CLK_SERDES1_LANE0_TX>,
			/* PFE MAC1 */
			<&clks S32G_CLK_PFE_MAC1_EXT_REF>,
			<&clks S32G_CLK_SERDES1_LANE1_CDR>,
			<&clks S32G_CLK_SERDES1_LANE1_TX>,
			/* PFE MAC2 */
			<&clks S32G_CLK_PFE_MAC2_EXT_REF>,
			<&clks S32G_CLK_SERDES0_LANE1_CDR>,
			<&clks S32G_CLK_SERDES0_LANE1_TX>;
		assigned-clock-rates =
			<0>, <0>, <0>, <0>, <0>, <0>, <0>,
			<0>, <0>, <0>, <0>, <0>, <0>,
			<600000000>,
			<50000000>,
			<125000000>,
			<125000000>,
			<50000000>,
			<125000000>,
			<125000000>,
			<50000000>,
			<125000000>,
			<125000000>;

	};
};

&accelpll {
	assigned-clocks =
		<&clks S32GEN1_CLK_ACCEL_PLL_MUX>,
		<&clks S32GEN1_CLK_ACCEL_PLL_VCO>,
		<&clks S32G_CLK_ACCEL_PLL_PHI0>,
		<&clks S32G_CLK_ACCEL_PLL_PHI1>;
	assigned-clock-parents =
		<&clks S32GEN1_CLK_FXOSC>;
	assigned-clock-rates =
		<0>,
		<1800000000>,
		<600000000>,
		<600000000>;
};

&gmac0 {
	clocks = <&clks S32GEN1_SCMI_CLK_GMAC0_RX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TS_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TS_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_AXI>;
	clock-names = "rx_sgmii", "tx_sgmii", "ts_sgmii",
		      "rx_rgmii", "tx_rgmii", "ts_rgmii",
		      "axi";
	pinctrl-0 = <&pinctrl0_gmac0 &pinctrl0_gmac0_mdio>;
	pinctrl-1 = <&pinctrl0_gmac0_mdio>;
	pinctrl-names = "gmac_rgmii", "gmac_sgmii";
};

&qspi {
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&usdhc0 {
	status = "okay";
};

&pcie0 {
	status = "okay";

	link-speed = <3>; /* Gen3 */
};

&pcie1 {
	status = "okay";

	link-speed = <2>; /* Gen2 */
};

&serdes0 {
	assigned-clocks =
		<&clks S32GEN1_CLK_SERDES0_LANE0_TX>,
		<&clks S32GEN1_CLK_SERDES0_LANE0_CDR>,
		<&clks S32G_CLK_SERDES0_LANE1_TX>,
		<&clks S32G_CLK_SERDES0_LANE1_CDR>;

	assigned-clock-parents =
		<&serdes0_lane0_ext_tx 0>,
		<&serdes0_lane0_ext_cdr 0>,
		<&serdes0_lane1_ext_tx 0>,
		<&serdes0_lane1_ext_cdr 0>;

	status = "okay";
};

&pinctrl0 {
	board_generic_pinctrl0 {
		pinctrl0_gmac0_mdio: pinctrl0_gmac0_mdio {
			fsl,pins = <PD12_MSCR_S32G PD12_GMAC0_MDC_CFG
				    PD13_MSCR_S32G PD13_GMAC0_MDIO_CFG
				    GMAC0_MDIO_IMCR PD13_GMAC0_MDIO_IN
				    >;
		};

		pinctrl0_gmac0: pinctrl0_gmac0 {
			fsl,pins = <PE02_MSCR_S32G PE02_GMAC0_TX_CLK_CFG
				    PE03_MSCR_S32G PE03_GMAC0_TX_EN_CFG
				    PE04_MSCR_S32G PE04_GMAC0_TX_D0_CFG
				    PE05_MSCR_S32G PE05_GMAC0_TX_D1_CFG
				    PE06_MSCR_S32G PE06_GMAC0_TX_D2_CFG
				    PE07_MSCR_S32G PE07_GMAC0_TX_D3_CFG
				    PE08_MSCR_S32G PE08_GMAC0_RX_CLK_CFG
				    PE09_MSCR_S32G PE09_GMAC0_RX_DV_CFG
				    PE10_MSCR_S32G PE10_GMAC0_RX_D0_CFG
				    PE11_MSCR_S32G PE11_GMAC0_RX_D1_CFG
				    PE12_MSCR_S32G PE12_GMAC0_RX_D2_CFG
				    PE13_MSCR_S32G PE13_GMAC0_RX_D3_CFG
				    GMAC0_TX_CLK_IMCR PE02_GMAC0_TX_CLK_IN
				    GMAC0_RX_CLK_IMCR PE08_GMAC0_RX_CLK_IN
				    GMAC0_RX_DV_IMCR PE09_GMAC0_RX_DV_IN
				    GMAC0_RX_D0_IMCR PE10_GMAC0_RX_D0_IN
				    GMAC0_RX_D1_IMCR PE11_GMAC0_RX_D1_IN
				    GMAC0_RX_D2_IMCR PE12_GMAC0_RX_D2_IN
				    GMAC0_RX_D3_IMCR PE13_GMAC0_RX_D3_IN
				    >;
		};

		pinctrl0_pfe0_mdio: pinctrl0_pfe0_mdio {
			fsl,pins = <PE15_MSCR_S32G PE15_PFE0_MDIO_CFG
				    PF02_MSCR_S32G PF02_PFE0_MDC_CFG
				    >;
		};

		pinctrl0_pfe0: pinctrl0_pfe0 {
			fsl,pins = <PE14_MSCR_S32G PE14_PFE0_TX_EN_CFG>;
		};

		pinctrl0_pfe1_mdio: pinctrl0_pfe1_mdio {
			fsl,pins = <PD12_MSCR_S32G PD12_PFE1_MDC_CFG
				    PD13_MSCR_S32G PD13_PFE1_MDIO_CFG
				    >;
		};

		pinctrl0_pfe1: pinctrl0_pfe1 {
			fsl,pins = <PE02_MSCR_S32G PE02_PFE1_TX_CLK_CFG
				    PE03_MSCR_S32G PE03_PFE1_TX_EN_CFG
				    PE04_MSCR_S32G PE04_PFE1_TX_D0_CFG
				    PE05_MSCR_S32G PE05_PFE1_TX_D1_CFG
				    PE06_MSCR_S32G PE06_PFE1_TX_D2_CFG
				    PE07_MSCR_S32G PE07_PFE1_TX_D3_CFG
				    PE08_MSCR_S32G PE08_PFE1_RX_CLK_CFG
				    PE09_MSCR_S32G PE09_PFE1_RX_DV_CFG
				    PE10_MSCR_S32G PE10_PFE1_RX_D0_CFG
				    PE11_MSCR_S32G PE11_PFE1_RX_D1_CFG
				    PE12_MSCR_S32G PE12_PFE1_RX_D2_CFG
				    PE13_MSCR_S32G PE13_PFE1_RX_D3_CFG
				    >;
		};

		pinctrl0_pfe2_mdio: pinctrl0_pfe2_mdio {
			fsl,pins = <PE15_MSCR_S32G PE15_PFE2_MDIO_CFG
				    PF02_MSCR_S32G PF02_PFE2_MDC_CFG
				    >;
		};

		pinctrl0_pfe2: pinctrl0_pfe2 {
			fsl,pins = <PE14_MSCR_S32G PE14_PFE2_TX_EN_CFG>;
		};
	};
};

&pinctrl1 {
	board_generic_pinctrl1 {
		pinctrl1_pfe0_mdio: pinctrl1_pfe0_mdio {
			fsl,pins = <PFE0_MDIO_IMCR PE15_PFE0_MDIO_IN>;
		};

		pinctrl1_pfe0: pinctrl1_pfe0 {
			fsl,pins = <PH01_MSCR_S32G PH01_PFE0_TX_D1_CFG
				    PH02_MSCR_S32G PH02_PFE0_TX_D2_CFG
				    PH03_MSCR_S32G PH03_PFE0_TX_D3_CFG
				    PH04_MSCR_S32G PH04_PFE0_RX_CLK_CFG
				    PH05_MSCR_S32G PH05_PFE0_RX_DV_CFG
				    PH06_MSCR_S32G PH06_PFE0_RX_D0_CFG
				    PH07_MSCR_S32G PH07_PFE0_RX_D1_CFG
				    PH08_MSCR_S32G PH08_PFE0_RX_D2_CFG
				    PH09_MSCR_S32G PH09_PFE0_RX_D3_CFG
				    PH10_MSCR_S32G PH10_PFE0_TX_CLK_CFG
				    PJ00_MSCR_S32G PJ00_PFE0_TX_D0_CFG
				    PFE0_RX_CLK_IMCR PH04_PFE0_RX_CLK_IN
				    PFE0_RX_DV_IMCR PH05_PFE0_RX_DV_IN
				    PFE0_RX_D0_IMCR PH06_PFE0_RX_D0_IN
				    PFE0_RX_D1_IMCR PH07_PFE0_RX_D1_IN
				    PFE0_RX_D2_IMCR PH08_PFE0_RX_D2_IN
				    PFE0_RX_D3_IMCR PH09_PFE0_RX_D3_IN
				    >;
		};

		pinctrl1_pfe1_mdio: pinctrl1_pfe1_mdio {
			fsl,pins = <PFE1_MDIO_IMCR PD13_PFE1_MDIO_IN>;
		};

		pinctrl1_pfe1: pinctrl1_pfe1 {
			fsl,pins = <PFE1_RX_CLK_IMCR PE08_PFE1_RX_CLK_IN
				    PFE1_RX_DV_IMCR PE09_PFE1_RX_DV_IN
				    PFE1_RX_D0_IMCR PE10_PFE1_RX_D0_IN
				    PFE1_RX_D1_IMCR PE11_PFE1_RX_D1_IN
				    PFE1_RX_D2_IMCR PE12_PFE1_RX_D2_IN
				    PFE1_RX_D3_IMCR PE13_PFE1_RX_D3_IN
				    >;
		};

		pinctrl1_pfe2_mdio: pinctrl1_pfe2_mdio {
			fsl,pins = <PFE2_MDIO_IMCR PE15_PFE2_MDIO_IN
				    >;
		};

		pinctrl1_pfe2: pinctrl1_pfe2 {
			fsl,pins = <PH01_MSCR_S32G PH01_PFE2_TX_D1_CFG
				    PH02_MSCR_S32G PH02_PFE2_TX_D2_CFG
				    PH03_MSCR_S32G PH03_PFE2_TX_D3_CFG
				    PH04_MSCR_S32G PH04_PFE2_RX_CLK_CFG
				    PH05_MSCR_S32G PH05_PFE2_RX_DV_CFG
				    PH06_MSCR_S32G PH06_PFE2_RX_D0_CFG
				    PH07_MSCR_S32G PH07_PFE2_RX_D1_CFG
				    PH08_MSCR_S32G PH08_PFE2_RX_D2_CFG
				    PH09_MSCR_S32G PH09_PFE2_RX_D3_CFG
				    PH10_MSCR_S32G PH10_PFE2_TX_CLK_CFG
				    PJ00_MSCR_S32G PJ00_PFE2_TX_D0_CFG
				    PFE2_RX_CLK_IMCR PH04_PFE2_RX_CLK_IN
				    PFE2_RX_DV_IMCR PH05_PFE2_RX_DV_IN
				    PFE2_RX_D0_IMCR PH06_PFE2_RX_D0_IN
				    PFE2_RX_D1_IMCR PH07_PFE2_RX_D1_IN
				    PFE2_RX_D2_IMCR PH08_PFE2_RX_D2_IN
				    PFE2_RX_D3_IMCR PH09_PFE2_RX_D3_IN
				    >;
		};
	};
};
