// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;
#include "fsl-s32g274a.dtsi"

/ {
	aliases {
		usb0 = &usbotg;
	};

#ifdef CONFIG_HSE_SECBOOT
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* reserved space to store hse data */
		hse_reserved: hse_reserved@0x80000000 {
			no-map;
			reg = <0 0x80000000 0 0x40000>; /* 256K */
		};
	};
#endif

	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x80000000 0 0x80000000>;
	};

	sram@34000000 {
		device_type = "memory";
		reg = <0 0x34000000 0 0x800000>;
	};

	usbotg: usb@44064000 {
		compatible = "fsl,imx27-usb";
		reg = <0x0 0x44064000 0x0 0x200>;
		phys = <&saf1508_phy>;
	};

	saf1508_phy: usb_phy@44064000 {
		compatible = "nxp,saf1508bet";
		reg = <0x0 0x44064000 0x0 0x200>;
		#phy-cells = <0>;
	};
};

&usdhc0 {
	status = "okay";
};

&dspi1 {
	status = "okay";
};

&dspi5 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&mdio_c_phy4>;
};

&usbotg {
	status = "okay";
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* ARQ107 on S32RGV-VNP-PLAT */
	mdio_c_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <1>;
	};
	/* KSZ9031RNX on S32G-VNP-PROC */
	mdio_c_phy4: ethernet-phy@4 {
		reg = <4>;
		max-speed = <1000>;
	};
	/* KSZ9031RNX on S32RGV-VNP-PLAT */
	mdio_c_phy5: ethernet-phy@5 {
		status = "disabled"; /* blocked by USB by default */
		reg = <5>;
		max-speed = <1000>;
	};
};

&pfe {
	status = "okay";
};

/* EEPROM */
&i2c0 {
	clock-frequency=<100000>;
	status = "okay";
};

/* Platform board PCI X16 EXPRESS - I2C_SCL_S0, I2C_SDA_S0  */
&i2c1 {
	clock-frequency=<100000>;
	status = "okay";
};

/* Platform board GPIO_J3-17 (SDA), GPIO_J3-19 (SCL0)  */
&i2c2 {
	clock-frequency=<100000>;
	status = "okay";
};

/* PMIC */
&i2c4 {
	status = "okay";
	clock-frequency=<100000>;

	vr5510 {
		compatible = "fsl,vr5510";
		reg = <0x20>;
		status = "okay";
	};

	vr5510_fsu {
		compatible = "fsl,vr5510";
		reg = <0x21>;
		status = "okay";
	};

};
