// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree Include file for Freescale S32Gen1 family SoC.
 *
 * Copyright 2019-2021 NXP
 */

#include <dt-bindings/clock/s32gen1-clock-freq.h>
#include <dt-bindings/clock/s32gen1-clock.h>
#include <dt-bindings/clock/s32gen1-scmi-clock.h>

/ {
	compatible = "fsl,s32gen1", "arm,vexpress";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		spi0 = &dspi0;
		spi1 = &dspi1;
		spi2 = &dspi2;
		spi3 = &dspi3;
		spi4 = &dspi4;
		spi5 = &dspi5;
		spi6 = &qspi;
		serdes0 = &serdes0;
		pcie0 = &pcie0;
		mmc0 = &usdhc0;
		clks = &clks;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		scmi_shbuf: shm@d0000000 {
			compatible = "arm,scmi-shmem";
			reg = <0x0 0xd0000000 0x0 0x001000>;
			no-map;
		};

#ifdef CONFIG_HSE_SECBOOT
		hse_reserved: hse_reserved@0x84000000 {
			no-map;
			reg = <0 0x84000000 0 0x40000>; /* 256K */
		};
#endif
	};

	fxosc: fxosc@40050000 {
		compatible = "fixed-clock", "fsl,s32gen1-fxosc";
		reg = <0x0 0x40050000 0x0 0x3000>;
		clock-frequency = <S32GEN1_FXOSC_FREQ>;
		#clock-cells = <1>;
	};

	firc: firc@0 {
		compatible = "fixed-clock";
		clock-frequency = <51000000>;
		#clock-cells = <1>;
	};

	sirc: sirc@0 {
		compatible = "fixed-clock";
		clock-frequency = <32000>;
		#clock-cells = <1>;
	};

	ftm0_ext: ftm0_ext@0 {
		compatible = "fixed-clock";
		clock-frequency = <20000000>;
		#clock-cells = <1>;
	};

	ftm1_ext: ftm1_ext@0 {
		compatible = "fixed-clock";
		clock-frequency = <20000000>;
		#clock-cells = <1>;
	};

	gmac0_ext_rx: gmac0_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		#clock-cells = <1>;
	};

	gmac0_ext_tx: gmac0_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	gmac0_ext_ref: gmac0_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

	gmac0_ext_ts: gmac0_ext_ts@0 {
		compatible = "fixed-clock";
		clock-frequency = <200000000>;
		#clock-cells = <1>;
	};

	serdes0_lane0_ext_cdr: serdes0_lane0_ext_cdr@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes0_lane0_ext_tx: serdes0_lane0_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes0_lane1_ext_cdr: serdes0_lane1_ext_cdr@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes0_lane1_ext_tx: serdes0_lane1_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes1_lane0_ext_cdr: serdes1_lane0_ext_cdr@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes1_lane0_ext_tx: serdes1_lane0_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes1_lane1_ext_cdr: serdes1_lane1_ext_cdr@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	serdes1_lane1_ext_tx: serdes1_lane1_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	firmware {
		scmi {
			compatible = "arm,scmi-smc";
			arm,smc-id = <0xc20000fe>;
			shmem = <&scmi_shbuf>;
			#address-cells = <1>;
			#size-cells = <0>;

			status = "disabled";

			protocol@14 {
				#address-cells = <2>;
				#size-cells = <2>;

				reg = <0x14>;
				#clock-cells = <1>;
			};
		};
	};

	clks: clks {
		compatible = "fsl,s32-gen1-clocking";
		#address-cells = <2>;
		#size-cells = <2>;
		#clock-cells = <1>;
		status = "okay";

		assigned-clocks =
			<&clks S32GEN1_SCMI_CLK_SERDES_REF>,
			<&clks S32GEN1_CLK_FXOSC>,
			<&clks S32GEN1_CLK_FIRC>,
			<&clks S32GEN1_CLK_SIRC>,
			<&clks S32GEN1_CLK_GMAC0_EXT_RX>;

		assigned-clock-parents =
			<0>,
			<&fxosc 0>,
			<&firc 0>,
			<&sirc 0>,
			<&gmac0_ext_rx 0>;

		assigned-clock-rates =
			<100000000>;

		armpll: armpll@4003800 {
			compatible = "fsl,s32gen1-armpll";
			reg = <0x0 0x40038000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_ARM_PLL_MUX>,
				<&clks S32GEN1_CLK_ARM_PLL_VCO>,
				<&clks S32GEN1_CLK_ARM_PLL_PHI0>;
			assigned-clock-parents =
				<&clks S32GEN1_CLK_FXOSC>;
			assigned-clock-rates =
				<0>,
				<S32GEN1_ARM_PLL_VCO_MAX_FREQ>,
				<S32GEN1_ARM_PLL_PHI0_MAX_FREQ>;
		};

		armdfs: armdfs@40054000 {
			compatible = "fsl,s32gen1-armdfs";
			reg = <0x0 0x40054000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_ARM_PLL_DFS1>,
				<&clks S32GEN1_CLK_ARM_PLL_DFS2>;
			assigned-clock-rates =
				<S32GEN1_CLK_ARM_PLL_DFS1_FREQ>,
				<800000000>;
		};

		periphpll: periphpll@4003C000 {
			compatible = "fsl,s32gen1-periphpll";
			reg = <0x0 0x4003C000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_PERIPH_PLL_MUX>,
				<&clks S32GEN1_CLK_PERIPH_PLL_VCO>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI0>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI2>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI3>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI4>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI5>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI7>;
			assigned-clock-parents =
				<&clks S32GEN1_CLK_FXOSC>;
			assigned-clock-rates =
				<0>,
				<S32GEN1_PERIPH_PLL_VCO_FREQ>, <100000000>,
				<80000000>, <80000000>,
				<125000000>, <200000000>,
				<125000000>, <100000000>;
		};

		periphdfs: armdfs@40058000 {
			compatible = "fsl,s32gen1-periphdfs";
			reg = <0x0 0x40058000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_PERIPH_PLL_DFS1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_DFS3>;
			assigned-clock-rates =
				<800000000>,
				<800000000>;
		};

		accelpll: accelpll@40040000 {
			compatible = "fsl,s32gen1-accelpll";
			reg = <0x0 0x40040000 0x0 0x3000>;
		};

		ddrpll: ddrpll@40044000 {
			compatible = "fsl,s32gen1-ddrpll";
			reg = <0x0 0x40044000 0x0 0x3000>;
		};

		mc_me: mc_me@40088000 {
			compatible = "fsl,s32gen1-mc_me";
			reg = <0x0 0x40088000 0x0 0x3000>;
		};

		rdc: rdc@440080000 {
			compatible = "fsl,s32gen1-rdc";
			reg = <0x0 0x40080000 0x0 0x3000>;
		};

		rgm: rgm@40078000 {
			compatible = "fsl,s32gen1-rgm";
			reg = <0x0 0x40078000 0x0 0x3000>;
		};

		mc_cgm0: mc_cgm0@40030000 {
			compatible = "fsl,s32gen1-mc_cgm0";
			reg = <0x0 0x40030000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_MC_CGM0_MUX0>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX3>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX4>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX5>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX7>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX8>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX9>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX10>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX11>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX12>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX14>,
				<&clks S32GEN1_CLK_MC_CGM0_MUX16>,
				<&clks S32GEN1_CLK_PER>,
				<&clks S32GEN1_CLK_XBAR_2X>,
				<&clks S32GEN1_CLK_FTM0_REF>,
				<&clks S32GEN1_CLK_FTM1_REF>,
				<&clks S32GEN1_CLK_CAN_PE>,
				<&clks S32GEN1_CLK_LIN_BAUD>,
				<&clks S32GEN1_CLK_SPI>,
				<&clks S32GEN1_CLK_QSPI_2X>,
				<&clks S32GEN1_CLK_SDHC>,
				<&clks S32GEN1_CLK_GMAC0_TS>;
			assigned-clock-parents =
				<&clks S32GEN1_CLK_ARM_PLL_DFS1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI2>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI3>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI4>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI5>,
				<&clks S32GEN1_CLK_GMAC0_EXT_RX>,
				<&clks S32GEN1_CLK_PERIPH_PLL_DFS1>,
				<&clks S32GEN1_CLK_PERIPH_PLL_DFS3>,
				<&clks S32GEN1_CLK_PERIPH_PLL_PHI7>;
			assigned-clock-rates =
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<80000000>,
				<S32GEN1_XBAR_2X_FREQ>,
				<40000000>,
				<40000000>,
				<80000000>,
				<125000000>,
				<100000000>,
				/* If S32G274A Rev < 2, CLK_QSPI_2X maximum
				 * value can be 266666666.
				 */
				<400000000>,
				<400000000>,
				<200000000>;
		};

		mc_cgm1: mc_cgm1@40034000 {
			compatible = "fsl,s32gen1-mc_cgm1";
			reg = <0x0 0x40034000 0x0 0x3000>;

			assigned-clocks =
				<&clks S32GEN1_CLK_MC_CGM1_MUX0>,
				<&clks S32GEN1_CLK_A53_CORE>;
			assigned-clock-parents =
				<&clks S32GEN1_CLK_ARM_PLL_PHI0>,
				<0>;
			assigned-clock-rates =
				<0>,
				<S32GEN1_A53_MAX_FREQ>;
		};

		mc_cgm5: mc_cgm5@40068000 {
			compatible = "fsl,s32gen1-mc_cgm5";
			reg = <0x0 0x40068000 0x0 0x3000>;
		};
	};

	uart0:serial@401C8000 {
		device_type = "serial";
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x401C8000 0x0 0x3000>;
		interrupts = <0 82 1>;
		clock-frequency = <0>;	/* updated dynamically if 0 */
	};

	uart1:serial@401CC000 {
		device_type = "serial";
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x401CC000 0x0 0x3000>;
		interrupts = <0 83 1>;
		clock-frequency = <0>;	/* updated dynamically if 0 */
	};

	uart2:serial@402BC000 {
		device_type = "serial";
		compatible = "fsl,s32-linflexuart";
		reg = <0x0 0x402BC000 0x0 0x3000>;
		interrupts = <0 84 1>;
		clock-frequency = <0>;	/* updated dynamically if 0 */
	};

	usdhc0: usdhc@402F0000{
		compatible = "fsl,s32gen1-usdhc";
		reg = <0x0 0x402F0000 0x0 0x1000>;
		interrupts = <0 36 4>;
		clocks = <&clks S32GEN1_SCMI_CLK_USDHC_MODULE>,
			<&clks S32GEN1_SCMI_CLK_USDHC_AHB>,
			<&clks S32GEN1_SCMI_CLK_USDHC_CORE>;
		clock-names = "ipg", "ahb", "per";
		clock-frequency = <0>;	/* updated dynamically if 0 */
		bus-width = <8>;
		no-1-8-v;
		status = "disabled";
	};

	gic: interrupt-controller@50800000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		interrupt-controller;
		reg = <0 0x50800000 0 0x10000>, /* GIC Dist */
		      <0 0x50880000 0 0x200000>, /* GICR (RD_base + SGI_base) */
		      <0 0x50400000 0 0x2000>, /* GICC */
		      <0 0x50410000 0 0x2000>, /* GICH */
		      <0 0x50420000 0 0x2000>; /* GICV */
		interrupts = <1 9 0xf04>;
	};

	serdes0: serdes@40480000 {
		compatible = "fsl,s32gen1-serdes";
		reg = <0x00 0x40400000 0x0 0x80000   /* dbi registers */
		       0x00 0x40480000 0x0 0x04000>; /* serdes registers */
		reg-names = "dbi", "ss";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci-generic";
		device_id = <0>;
		num-lanes = <2>; /* supports max 2 lanes */
		clocks = <&clks S32GEN1_SCMI_CLK_SERDES_REF>;
	};

	pcie0: pcie@40400000 {
		compatible = "fsl,s32gen1-pcie";
		reg =
			<0x00 0x40400000 0x0 0x80000   /* dbi registers */
			/* configuration space, 4KB each for cfg0 and cfg1
			 * at the end of the outbound memory map
			 */
			0x5f 0xffffe000 0x0 0x00002000>;
		reg-names = "dbi", "config";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		serdes-handle = <&serdes0>;
		device_id = <0>;
		num-lanes = <2>; /* supports max 2 lanes */
		link-speed = <3>; /* supports Gen3 speed */

		bus-range = <0x0 0xff>;
		ranges =
			/* downstream I/O, 64KB and aligned naturally just before
			 * the config space to minimize fragmentation
			 */
			<0x81000000 0x0 0x00000000 0x5f 0xfffe0000 0x0 0x00010000
			/* non-prefetchable memory, with best case size
			 * and alignment
			 */
			 0x82000000 0x0 0x00000000 0x58 0x00000000 0x7 0xfffe0000>;
		status = "disabled";
	};

	dspi0: dspi0@401D4000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x401d4000 0x0 0x1000>;
		num-cs = <8>;
		status = "disabled";
	};

	dspi1: dspi1@401D8000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x401d8000 0x0 0x1000>;
		num-cs = <5>;
		status = "disabled";
	};

	dspi2: dspi2@401DC000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x401dc000 0x0 0x1000>;
		num-cs = <5>;
		status = "disabled";
	};

	dspi3: dspi3@402C8000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x402c8000 0x0 0x1000>;
		num-cs = <5>;
		status = "disabled";
	};

	dspi4: dspi4@402CC000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x402cc000 0x0 0x1000>;
		num-cs = <5>;
		status = "disabled";
	};

	dspi5: dspi5@402D0000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,vf610-dspi";
		reg = <0x0 0x402d0000 0x0 0x1000>;
		num-cs = <5>;
		status = "disabled";
	};

	qspi: quadspi@40134000 {
		compatible = "fsl,vf610-qspi";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x00000000 0x0 0x20000000>,
			<0x0 0x40134000 0x0 0x1000>;
		reg-names = "QuadSPI-memory", "QuadSPI";
		num-cs = <2>;
		status = "disabled";
	};

	gmac0: ethernet@4033c000 {
		compatible = "fsl,s32cc-dwmac";
		reg = <0x0 0x4033c000 0x0 0x2000>, /* gmac IP */
		      <0x0 0x4007C004 0x0 0x4>;    /* S32 CTRL_STS reg */
		tx-fifo-depth = <20480>;
		rx-fifo-depth = <20480>;
		status = "disabled";
		gmac0_mdio: mdio0 {
			compatible = "snps,dwmac-mdio";
		};
	};

	i2c0: i2c@401E4000 {
		compatible = "fsl,vf610-i2c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x401E4000 0x0 0x10000>;
		clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
		status = "disabled";
	};

	i2c1: i2c@401E8000 {
		compatible = "fsl,vf610-i2c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x401E8000 0x0 0x10000>;
		clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
		status = "disabled";
	};

	i2c2: i2c@401EC000 {
		compatible = "fsl,vf610-i2c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x401EC000 0x0 0x10000>;
		clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
		status = "disabled";
	};

	i2c3: i2c@402D8000 {
		compatible = "fsl,vf610-i2c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x402D8000 0x0 0x10000>;
		clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
		status = "disabled";
	};

	i2c4: i2c@402DC000 {
		compatible = "fsl,vf610-i2c";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x0 0x402DC000 0x0 0x10000>;
		clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
		status = "disabled";
	};
};

