// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2020 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "fsl-s32-gen1.dtsi"
/ {
	model = "NXP S32R45X";
	compatible = "fsl,s32r45x", "arm,vexpress,v2p-aarch64", "arm,vexpress";

	signature {
		key-boot_key {
			required = "conf";
			algo = "sha1,rsa2048";
			key-name-hint = "boot_key";
		};
	};

	memory_DDR0@800000000 {
		device_type = "memory";
		reg = <0x8 0x0 0 0x40000000>, /* 0 - 1 GB */
		      <0x8 0x40000000 0 0x40000000>, /* 1 - 2 GB */
		      <0x8 0x80000000 0 0x80000000>; /* 2 - 4 GB */
		      /* extended DDR from 4 to 32 GB should go elsewhere */
	};

	memory_DDR1@8800000000 {
		device_type = "memory";
		reg = <0x88 0x0 0 0x40000000>, /* 0 - 1 GB */
		      <0x88 0x40000000 0 0xC0000000>; /* 1 - 4 GB */
		      /* extended DDR from 4 to 32 GB should go elsewhere */
	};

};

&qspi {
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&usdhc0 {
	status = "okay";
};

&pcie0 {
	status = "okay";

	link-speed = <3>; /* Gen3 */
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&gmac0_phy1>;
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* KSZ9031RNXCA on S32R-VNP-PROC */
	gmac0_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

/* J36 - PMIC */
&i2c0 {
	clock-frequency=<100000>;
	status = "okay";
};

/* J37 */
&i2c1 {
	clock-frequency=<100000>;
	status = "okay";
};

