// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2022 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */
#include <dt-bindings/clock/s32r45-clock.h>
#include <dt-bindings/clock/s32r45-scmi-clock.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/s32r45-pinctrl.h>

/dts-v1/;
#include "fsl-s32-gen1.dtsi"
/ {
	model = "NXP S32R458-EVB";
	compatible = "fsl,s32r45", "arm,vexpress,v2p-aarch64", "arm,vexpress";

	aliases {
		eth0 = &gmac0;
		eth1 = &gmac1;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x80000000 0 0x80000000>;
	};

	sram@34000000 {
		device_type = "memory";
		reg = <0 0x34000000 0 0x800000>;
	};

	signature {
		key-boot_key {
			required = "conf";
			algo = "sha1,rsa2048";
			key-name-hint = "boot_key";
		};
	};

	gmac1_ext_rx: gmac1_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		#clock-cells = <1>;
	};

	gmac1_ext_tx: gmac1_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	gmac1_ext_ref: gmac1_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

	siul2_0@4009C000 {
		compatible = "simple-mfd";
		status = "okay";
		reg = <0x0 0x4009C000 0x0 0x2000>;
		u-boot,dm-pre-reloc;

		pinctrl0: siul2-pinctrl0 {
			compatible = "fsl,s32-gen1-siul2-pinctrl";
			#pinctrl-cells = <2>;
			/* MSCR range */
			pins = <&pinctrl0 0 101>,
			/* IMCR range */
			<&pinctrl0 512 573>;
			status = "okay";
		};

		gpio0: siul2-gpio0 {
			compatible = "fsl,s32-gen1-siul2-gpio";
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pinctrl0 0 0 102>;
			status = "okay";
		};

		siul2_0_nvram {
			compatible = "fsl,s32-gen1-siul2_0-nvram";
			status = "okay";
			u-boot,dm-pre-reloc;
		};
	};

	siul2_1@4403C000 {
		compatible = "simple-mfd";
		status = "okay";
		reg = <0x0 0x4403C000 0x0 0x2000>;
		u-boot,dm-pre-reloc;

		pinctrl1: siul2-pinctrl1 {
			compatible = "fsl,s32-gen1-siul2-pinctrl";
			#pinctrl-cells = <2>;
			/* MSCR range */
			pins = <&pinctrl1 102 133>,
			/* IMCR range */
			<&pinctrl1 603 785>;
			status = "okay";
		};

		gpio1: siul2-gpio1 {
			compatible = "fsl,s32-gen1-siul2-gpio";
			#gpio-cells = <2>;
			gpio-controller;
			gpio-ranges = <&pinctrl1 0 102 32>;
			status = "okay";
		};

		siul2_1_nvram {
			compatible = "fsl,s32r-siul2_1-nvram";
			status = "okay";
			u-boot,dm-pre-reloc;
		};
	};

	serdes1: serdes@44180000 {
		compatible = "fsl,s32gen1-serdes";
		reg = <0x00 0x44100000 0x0 0x80000   /* dbi registers */
		       0x00 0x44180000 0x0 0x04000>; /* serdes registers */
		reg-names = "dbi", "ss";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci-generic";
		device_id = <1>;
		num-lanes = <1>; /* supports 1 lane */
		clocks = <&clks S32GEN1_SCMI_CLK_SERDES_REF>;

		assigned-clocks =
			<&clks S32R45_CLK_SERDES1_LANE0_TX>,
			<&clks S32R45_CLK_SERDES1_LANE0_CDR>;

		assigned-clock-parents =
			<&serdes1_lane0_ext_tx 0>,
			<&serdes1_lane0_ext_cdr 0>;

		status = "okay";
	};

	gmac1: ethernet@44010000 {
		compatible = "fsl,s32cc-dwmac";
		clocks = <&clks S32R45_SCMI_CLK_GMAC1_TS>,
				<&clks S32R45_SCMI_CLK_GMAC1_RX_SGMII>,
				<&clks S32R45_SCMI_CLK_GMAC1_TX_SGMII>,
				<&clks S32R45_SCMI_CLK_GMAC1_RX_RGMII>,
				<&clks S32R45_SCMI_CLK_GMAC1_TX_RGMII>,
				<&clks S32R45_SCMI_CLK_GMAC1_AXI>;
		clock-names = "ts", "rx_sgmii", "tx_sgmii",
						"rx_rgmii", "tx_rgmii", "axi";
		status = "okay";
		reg = <0x0 0x44010000 0x0 0x2000>,
		      <0x0 0x4007CA00 0x0 0x4>;
		tx-fifo-depth = <20480>;
		rx-fifo-depth = <20480>;
		phy-mode = "sgmii";
		fixed-link {
			speed = <1000>;
			full-duplex;
		};
	};

	pcie1: pcie@44100000 {
		compatible = "fsl,s32r45-pcie";
		reg =
			<0x00 0x44100000 0x0 0x80000   /* dbi registers */
			/* configuration space, 4KB each for cfg0 and cfg1
			 * at the end of the outbound memory map
			 */
			0x4f 0xffffe000 0x0 0x00002000>;
		reg-names = "dbi", "config";
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		serdes-handle = <&serdes1>;
		device_id = <1>;
		num-lanes = <1>; /* supports max 1 pcie lane */
		link-speed = <3>; /* supports Gen3 speed */
		bus-range = <0x0 0xff>;
		ranges =
			/* downstream I/O, 64KB and aligned naturally just before
			 * the config space to minimize fragmentation
			 */
			<0x81000000 0x0 0x00000000 0x4f 0xfffe0000 0x0 0x00010000
			/* non-prefetchable memory, with best case size
			 * and alignment
			 */
			 0x82000000 0x0 0x00000000 0x48 0x00000000 0x7 0xfffe0000>;
		status = "okay";
	};
};

&serdes0 {
	assigned-clocks =
		<&clks S32GEN1_CLK_SERDES0_LANE0_TX>,
		<&clks S32GEN1_CLK_SERDES0_LANE0_CDR>,
		<&clks S32GEN1_CLK_SERDES_REF>;
	assigned-clock-parents =
		<&serdes0_lane0_ext_tx 0>,
		<&serdes0_lane0_ext_cdr 0>;
	assigned-clock-rates =
		<0>, <0>,
		<100000000>;
};

&accelpll {
	assigned-clocks =
		<&clks S32GEN1_CLK_ACCEL_PLL_MUX>,
		<&clks S32GEN1_CLK_ACCEL_PLL_VCO>,
		<&clks S32R45_CLK_ACCEL_PLL_PHI0>,
		<&clks S32GEN1_CLK_ARM_PLL_DFS4>;
	assigned-clock-parents =
		<&clks S32GEN1_CLK_FXOSC>;
	assigned-clock-rates =
		<0>,
		<1800000000>,
		<600000000>,
		<400000000>;
};

&clks {
	clocks = <&clks S32GEN1_SCMI_CLK_FTM0_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM1_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM0_EXT>,
		<&clks S32GEN1_SCMI_CLK_FTM1_EXT>,
		<&clks S32GEN1_SCMI_CLK_FLEXCAN_CAN>,
		<&clks S32GEN1_SCMI_CLK_SPI_REG>,
		<&clks S32GEN1_SCMI_CLK_QSPI_FLASH1X>,
		<&clks S32R45_SCMI_CLK_LAX_MODULE>,
		<&clks S32R45_SCMI_CLK_SPT_SPT>;

	mc_cgm2: mc_cgm2@440C0000 {
		compatible = "fsl,s32gen1-mc_cgm2";
		reg = <0x0 0x440C0000 0x0 0x3000>;

		assigned-clocks =
			<&clks S32R45_CLK_MC_CGM2_MUX0>,
			<&clks S32R45_CLK_MC_CGM2_MUX1>,
			<&clks S32R45_CLK_ACCEL3>,
			<&clks S32R45_CLK_ACCEL4>;
		assigned-clock-parents =
			<&clks S32R45_CLK_ACCEL_PLL_PHI0>,
			<&clks S32R45_CLK_ARM_PLL_DFS4_2>;
		assigned-clock-rates =
			<0>,
			<0>,
			<600000000>,
			<400000000>;
	};
};

&qspi {
	pinctrl-0 = <&pinctrl0_qspi>;
	pinctrl-names = "default";
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&usdhc0 {
	pinctrl-0 = <&pinctrl0_sd0>;
	pinctrl-names = "default";
	status = "okay";
};

&pcie0 {
	compatible = "fsl,s32r45-pcie";
	status = "okay";

	link-speed = <3>; /* Gen3 */
};

&gmac0 {
	clocks = <&clks S32GEN1_SCMI_CLK_GMAC0_TS>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_AXI>;
	clock-names = "ts", "rx_sgmii", "tx_sgmii",
		      "rx_rgmii", "tx_rgmii", "axi";
	pinctrl-0 = <&pinctrl0_gmac0 &pinctrl0_gmac0_mdio>;
	pinctrl-1 = <&pinctrl0_gmac0_mdio>;
	pinctrl-names = "gmac_rgmii", "gmac_sgmii";
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&gmac0_phy1>;
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* KSZ9031RNXCA on S32R-VNP-PROC */
	gmac0_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

/* J36 - PMIC */
&i2c0 {
	clock-frequency=<100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl0_i2c0>;
	pinctrl-1 = <&pinctrl0_i2c0_gpio>;
	scl-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

/* J37 */
&i2c1 {
	clock-frequency=<100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl0_i2c1 &pinctrl1_i2c1>;
	pinctrl-1 = <&pinctrl0_i2c1_gpio &pinctrl1_i2c1_gpio>;
	scl-gpios = <&gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";
};

&pinctrl0 {
	board_pinctrl0 {
		u-boot,dm-pre-reloc;
		pinctrl0_dspi1: pinctrl0_dspi1 {
			fsl,pins = <PB04_MSCR_S32R45 PB04_SPI1_SCK_CFG
				    PB05_MSCR_S32R45 PB05_SPI1_SIN_CFG
				    PB06_MSCR_S32R45 PB06_SPI1_SOUT_CFG
				    PB07_MSCR_S32R45 PB07_SPI1_CS0_CFG
				    PB08_MSCR_S32R45 PB08_SPI1_CS1_CFG
				    >;
		};

		pinctrl0_dspi2: pinctrl0_dspi2 {
			fsl,pins = <PB11_MSCR_S32R45 PB11_SPI2_SCK_CFG
				    PB13_MSCR_S32R45 PB13_SPI2_SOUT_CFG
				    PB14_MSCR_S32R45 PB14_SPI2_CS0_CFG
				    PB15_MSCR_S32R45 PB15_SPI2_CS1_CFG
				    PC01_MSCR_S32R45 PC01_SPI2_SIN_CFG
				    >;
		};

		pinctrl0_dspi3: pinctrl0_dspi3 {
			fsl,pins = <PC04_MSCR_S32R45 PC04_SPI3_SCK_CFG
				    PC06_MSCR_S32R45 PC06_SPI3_SIN_CFG
				    PC07_MSCR_S32R45 PC07_SPI3_CS0_CFG
				    PC08_MSCR_S32R45 PC08_SPI3_CS1_CFG
				    PC13_MSCR_S32R45 PC13_SPI3_SOUT_CFG
				    >;
		};

		pinctrl0_gmac0_mdio: pinctrl0_gmac0_mdio {
			fsl,pins = <PD12_MSCR_S32R45 PD12_GMAC0_MDC_CFG
				    PD13_MSCR_S32R45 PD13_GMAC0_MDIO_CFG
				    GMAC0_MDIO_IMCR PD13_GMAC0_MDIO_IN
				    >;
		};

		pinctrl0_gmac0: pinctrl0_gmac0 {
			fsl,pins = <PE02_MSCR_S32R45 PE02_GMAC0_TX_CLK_CFG
				    PE03_MSCR_S32R45 PE03_GMAC0_TX_EN_CFG
				    PE04_MSCR_S32R45 PE04_GMAC0_TX_D0_CFG
				    PE05_MSCR_S32R45 PE05_GMAC0_TX_D1_CFG
				    PE06_MSCR_S32R45 PE06_GMAC0_TX_D2_CFG
				    PE07_MSCR_S32R45 PE07_GMAC0_TX_D3_CFG
				    PE08_MSCR_S32R45 PE08_GMAC0_RX_CLK_CFG
				    PE09_MSCR_S32R45 PE09_GMAC0_RX_DV_CFG
				    PE10_MSCR_S32R45 PE10_GMAC0_RX_D0_CFG
				    PE11_MSCR_S32R45 PE11_GMAC0_RX_D1_CFG
				    PE12_MSCR_S32R45 PE12_GMAC0_RX_D2_CFG
				    PE13_MSCR_S32R45 PE13_GMAC0_RX_D3_CFG
				    GMAC0_TX_CLK_IMCR PE02_GMAC0_TX_CLK_IN
				    GMAC0_RX_CLK_IMCR PE08_GMAC0_RX_CLK_IN
				    GMAC0_RX_DV_IMCR PE09_GMAC0_RX_DV_IN
				    GMAC0_RX_D0_IMCR PE10_GMAC0_RX_D0_IN
				    GMAC0_RX_D1_IMCR PE11_GMAC0_RX_D1_IN
				    GMAC0_RX_D2_IMCR PE12_GMAC0_RX_D2_IN
				    GMAC0_RX_D3_IMCR PE13_GMAC0_RX_D3_IN
				    >;
		};

		pinctrl0_i2c0: pinctrl0_i2c0 {
			fsl,pins = <PB00_MSCR_S32R45 PB00_I2C0_SDA_CFG
				    PB01_MSCR_S32R45 PB01_I2C0_SCL_CFG
				    I2C0_SDA_IMCR PB00_I2C0_SDA_IN
				    I2C0_SCL_IMCR PB01_I2C0_SCL_IN
				    >;
		};

		pinctrl0_i2c0_gpio: pinctrl0_i2c0_gpio {
			fsl,pins = <PB00_MSCR_S32R45 PB00_I2C0_SDA_GPIO
				    PB01_MSCR_S32R45 PB01_I2C0_SCL_GPIO
				    I2C0_SDA_IMCR IMCR_DISABLED
				    I2C0_SCL_IMCR IMCR_DISABLED
				    >;
		};

		pinctrl0_i2c1: pinctrl0_i2c1 {
			fsl,pins = <PA14_MSCR_S32R45 PA14_I2C1_SCL_CFG
				    PA15_MSCR_S32R45 PA15_I2C1_SDA_CFG
				    >;
		};

		pinctrl0_i2c1_gpio: pinctrl0_i2c1_gpio {
			fsl,pins = <PA14_MSCR_S32R45 PA14_I2C1_SCL_GPIO
				    PA15_MSCR_S32R45 PA15_I2C1_SDA_GPIO
				    >;
		};

		pinctrl0_qspi: pinctrl0_qspi {
			fsl,pins = <PF05_MSCR_S32R45 PF05_QSPI_DATA_A0_CFG
				    PF06_MSCR_S32R45 PF06_QSPI_DATA_A1_CFG
				    PF07_MSCR_S32R45 PF07_QSPI_DATA_A2_CFG
				    PF08_MSCR_S32R45 PF08_QSPI_DATA_A3_CFG
				    PF09_MSCR_S32R45 PF09_QSPI_DATA_A4_CFG
				    PF10_MSCR_S32R45 PF10_QSPI_DATA_A5_CFG
				    PF11_MSCR_S32R45 PF11_QSPI_DATA_A6_CFG
				    PF12_MSCR_S32R45 PF12_QSPI_DATA_A7_CFG
				    PF13_MSCR_S32R45 PF13_QSPI_DQS_A_CFG
				    PG00_MSCR_S32R45 PG00_QSPI_CLK_A_CFG
				    PG01_MSCR_S32R45 PG01_QSPI_CLK_A_b_CFG
				    PG02_MSCR_S32R45 PG02_QSPI_CLK_2A_CFG
				    PG03_MSCR_S32R45 PG03_QSPI_CLK_2A_b_CFG
				    PG04_MSCR_S32R45 PG04_QSPI_CS_A0
				    PG05_MSCR_S32R45 PG05_QSPI_CS_A1
				    QSPI_DATA0_A_IMCR PF05_QSPI_DATA_A0_IN
				    QSPI_DATA1_A_IMCR PF06_QSPI_DATA_A1_IN
				    QSPI_DATA2_A_IMCR PF07_QSPI_DATA_A2_IN
				    QSPI_DATA3_A_IMCR PF08_QSPI_DATA_A3_IN
				    QSPI_DATA4_A_IMCR PF09_QSPI_DATA_A4_IN
				    QSPI_DATA5_A_IMCR PF10_QSPI_DATA_A5_IN
				    QSPI_DATA6_A_IMCR PF11_QSPI_DATA_A6_IN
				    QSPI_DATA7_A_IMCR PF12_QSPI_DATA_A7_IN
				    QSPI_DQS_A_IMCR PF13_DQS_A_IN
				    >;
		};

		pinctrl0_sd0: pinctrl0_sd0 {
			fsl,pins = <PC14_MSCR_S32R45 PC14_SD0_CLK_CFG
				    PC15_MSCR_S32R45 PC15_SD0_CMD_CFG
				    PD00_MSCR_S32R45 PD00_SD0_D0_CFG
				    PD01_MSCR_S32R45 PD01_SD0_D1_CFG
				    PD02_MSCR_S32R45 PD02_SD0_D2_CFG
				    PD03_MSCR_S32R45 PD03_SD0_D3_CFG
				    PD04_MSCR_S32R45 PD04_SD0_D4_CFG
				    PD05_MSCR_S32R45 PD05_SD0_D5_CFG
				    PD06_MSCR_S32R45 PD06_SD0_D6_CFG
				    PD07_MSCR_S32R45 PD07_SD0_D7_CFG
				    PD08_MSCR_S32R45 PD08_SD0_RST_CFG
				    PD09_MSCR_S32R45 PD09_SD0_VSELECT_CFG
				    SD0_CMD_IMCR PC15_SD0_CMD_IN
				    SD0_D0_IMCR PD00_SD0_D0_IN
				    SD0_D1_IMCR PD01_SD0_D1_IN
				    SD0_D2_IMCR PD02_SD0_D2_IN
				    SD0_D3_IMCR PD03_SD0_D3_IN
				    SD0_D4_IMCR PD04_SD0_D4_IN
				    SD0_D5_IMCR PD05_SD0_D5_IN
				    SD0_D6_IMCR PD06_SD0_D6_IN
				    SD0_D7_IMCR PD07_SD0_D7_IN
				    >;
		};

		pinctrl0_uart0: pinctrl0_uart0 {
			u-boot,dm-pre-reloc;
			fsl,pins = <PC09_MSCR_S32R45 PC09_LIN0_TX_CFG
				    PC10_MSCR_S32R45 PC10_LIN0_RX_CFG
				    LIN0_RX_IMCR PC10_LIN0_RX_IN>;
		};
	};
};

&pinctrl1 {
	board_pinctrl1 {
		pinctrl1_dspi1: pinctrl1_dspi1 {
			fsl,pins = <DSPI1_SIN_IMCR PB05_SPI1_SIN_IN
				    >;
		};

		pinctrl1_dspi2: pinctrl1_dspi2 {
			fsl,pins = <DSPI2_SIN_IMCR PC01_SPI2_SIN_IN
				    >;
		};

		pinctrl1_dspi3: pinctrl1_dspi3 {
			fsl,pins = <DSPI3_SIN_IMCR PC06_SPI3_SIN_IN
				    >;
		};

		pinctrl1_dspi5: pinctrl1_dspi5 {
			fsl,pins = <PK00_MSCR_S32R45 PK00_SPI5_SCK_CFG
				    PK03_MSCR_S32R45 PK03_SPI5_CS0_CFG
				    PK04_MSCR_S32R45 PK04_SPI5_SIN_CFG
				    PK05_MSCR_S32R45 PK05_SPI5_SOUT_CFG
				    DSPI5_SIN_IMCR PK04_SPI5_SIN_IN
				    >;
		};

		pinctrl1_i2c1: pinctrl1_i2c1 {
			fsl,pins = <I2C1_SCL_IMCR PA14_I2C1_SCL_IN
				    I2C1_SDA_IMCR PA15_I2C1_SDA_IN
				    >;
		};

		pinctrl1_i2c1_gpio: pinctrl1_i2c1_gpio {
			fsl,pins = <I2C1_SCL_IMCR IMCR_DISABLED
				    I2C1_SDA_IMCR IMCR_DISABLED
				    >;
		};
	};
};

&dspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_dspi1>, <&pinctrl1_dspi1>;
	status = "okay";
};

&dspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_dspi2>, <&pinctrl1_dspi2>;
	status = "okay";
};

&dspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl0_dspi3>, <&pinctrl1_dspi3>;
	status = "okay";
};

&dspi5 {
	pinctrl-names = "default";
	pinctrl-0 =  <&pinctrl1_dspi5>;
	status = "okay";
};

&ocotp {
	compatible = "fsl,s32r45-ocotp";
};

&uart0 {
	pinctrl-0 = <&pinctrl0_uart0>;
	pinctrl-names = "default";
	status = "okay";
};
