// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2021 NXP
 */

/dts-v1/;
#include "fsl-s32g398a.dtsi"

/ {
	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x80000000 0 0x80000000>;
	};

	sram@34000000 {
		device_type = "memory";
		reg = <0 0x34000000 0 0x1400000>;
	};

};

&usdhc0 {
	status = "okay";
};
