// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;
#include "fsl-s32g274a.dtsi"

&dspi1 {
	status = "okay";
};

&dspi5 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&mdio_c_phy4>;
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* ARQ107 on S32RGV-VNP-PLAT */
	mdio_c_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <1>;
	};
	/* KSZ9031RNX on S32G-VNP-PROC */
	mdio_c_phy4: ethernet-phy@4 {
		reg = <4>;
		max-speed = <1000>;
	};
	/* KSZ9031RNX on S32RGV-VNP-PLAT */
	mdio_c_phy5: ethernet-phy@5 {
		status = "disabled"; /* blocked by USB by default */
		reg = <5>;
		max-speed = <1000>;
	};
};

&pfe {
	status = "okay";
};
