// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;
#include "fsl-s32g274a.dtsi"

&dspi1 {
	status = "okay";
};

&dspi5 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&pfe {
	status = "okay";
};
