// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2021 NXP
 */

/dts-v1/;
#include "fsl-s32g398a.dtsi"

/delete-node/ &gic;
/delete-node/ &mem1;
/delete-node/ &mem2;
/ {
	gic: interrupt-controller@50800000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		#address-cells = <2>;
		#size-cells = <2>;
		interrupt-controller;
		reg = <0 0x50800000 0 0x10000>, /* GIC Dist */
		      <0 0x50900000 0 0x200000>, /* GICR (RD_base + SGI_base) */
		      <0 0x50400000 0 0x2000>, /* GICC */
		      <0 0x50410000 0 0x2000>, /* GICH */
		      <0 0x50420000 0 0x2000>; /* GICV */
		interrupts = <1 9 0xf04>;
	};

	mem1: memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x40000000>;
	};
};

&usdhc0 {
	status = "okay";
};
