// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2020 NXP
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */
#include <dt-bindings/clock/s32r45-clock.h>
#include <dt-bindings/clock/s32r45-scmi-clock.h>

/dts-v1/;
#include "fsl-s32-gen1.dtsi"
/ {
	model = "NXP S32R45";
	compatible = "fsl,s32r45", "arm,vexpress,v2p-aarch64", "arm,vexpress";

	memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x80000000 0 0x80000000>;
	};

	sram@34000000 {
		device_type = "memory";
		reg = <0 0x34000000 0 0x800000>;
	};

	signature {
		key-boot_key {
			required = "conf";
			algo = "sha1,rsa2048";
			key-name-hint = "boot_key";
		};
	};

	gmac1_ext_rx: gmac1_ext_rx@0 {
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		#clock-cells = <1>;
	};

	gmac1_ext_tx: gmac1_ext_tx@0 {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		#clock-cells = <1>;
	};

	gmac1_ext_ref: gmac1_ext_ref@0 {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <1>;
	};

};

&serdes0 {
	assigned-clocks =
		<&clks S32GEN1_CLK_SERDES0_LANE0_TX>,
		<&clks S32GEN1_CLK_SERDES0_LANE0_CDR>,
		<&clks S32GEN1_CLK_SERDES_REF>;
	assigned-clock-parents =
		<&serdes0_lane0_ext_tx 0>,
		<&serdes0_lane0_ext_cdr 0>;
	assigned-clock-rates =
		<0>, <0>,
		<100000000>;
};

&accelpll {
	assigned-clocks =
		<&clks S32GEN1_CLK_ACCEL_PLL_MUX>,
		<&clks S32GEN1_CLK_ACCEL_PLL_VCO>,
		<&clks S32R45_CLK_ACCEL_PLL_PHI0>,
		<&clks S32GEN1_CLK_ARM_PLL_DFS4>;
	assigned-clock-parents =
		<&clks S32GEN1_CLK_FXOSC>;
	assigned-clock-rates =
		<0>,
		<1800000000>,
		<600000000>,
		<400000000>;
};

&clks {
	clocks = <&clks S32GEN1_SCMI_CLK_FTM0_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM1_SYS>,
		<&clks S32GEN1_SCMI_CLK_FTM0_EXT>,
		<&clks S32GEN1_SCMI_CLK_FTM1_EXT>,
		<&clks S32GEN1_SCMI_CLK_FLEXCAN_CAN>,
		<&clks S32GEN1_SCMI_CLK_SPI_REG>,
		<&clks S32GEN1_SCMI_CLK_QSPI_FLASH1X>,
		<&clks S32R45_SCMI_CLK_LAX_MODULE>,
		<&clks S32R45_SCMI_CLK_SPT_SPT>;

	mc_cgm2: mc_cgm2@440C0000 {
		compatible = "fsl,s32gen1-mc_cgm2";
		reg = <0x0 0x440C0000 0x0 0x3000>;

		assigned-clocks =
			<&clks S32R45_CLK_MC_CGM2_MUX0>,
			<&clks S32R45_CLK_MC_CGM2_MUX1>,
			<&clks S32R45_CLK_ACCEL3>,
			<&clks S32R45_CLK_ACCEL4>;
		assigned-clock-parents =
			<&clks S32R45_CLK_ACCEL_PLL_PHI0>,
			<&clks S32R45_CLK_ARM_PLL_DFS4_2>;
		assigned-clock-rates =
			<0>,
			<0>,
			<600000000>,
			<400000000>;
	};
};

&qspi {
	status = "okay";

	mx25uw51245g@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <200000000>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		reg = <0>;
	};
};

&usdhc0 {
	status = "okay";
};

&pcie0 {
	status = "okay";

	link-speed = <3>; /* Gen3 */
};

&gmac0 {
	clocks = <&clks S32GEN1_SCMI_CLK_GMAC0_RX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TS_SGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_TS_RGMII>,
		 <&clks S32GEN1_SCMI_CLK_GMAC0_AXI>;
	clock-names = "rx_sgmii", "tx_sgmii", "ts_sgmii",
		      "rx_rgmii", "tx_rgmii", "ts_rgmii",
		      "axi";
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&gmac0_phy1>;
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* KSZ9031RNXCA on S32R-VNP-PROC */
	gmac0_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

/* J36 - PMIC */
&i2c0 {
	clock-frequency=<100000>;
	status = "okay";
};

/* J37 */
&i2c1 {
	clock-frequency=<100000>;
	status = "okay";
};

