// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2019-2020,2022 NXP
 */

/dts-v1/;
#include "fsl-s32g274ardb.dtsi"

/ {
	model = "NXP S32G274A-RDB2";
};

/* PMIC */
&i2c4 {
	pf5020_a {
		compatible = "nxp,pf5020";
		reg = <0x9>;
		status = "okay";
	};

	pf5020_b {
		compatible = "nxp,pf5020";
		reg = <0x8>;
		status = "okay";
	};

	fs5600 {
		compatible = "nxp,fs5600";
		reg = <0x18>;
		status = "okay";
	};
};

&gmac0 {
    status = "okay";
    phy-mode = "rgmii";
    /* Connected to KSZ9031 MDIO_A */
    phy-handle = <&mdio_a_phy1>;
};

&gmac0_mdio {
    #address-cells = <1>;
    #size-cells = <0>;
    /* KSZ9031 GMAC */
    mdio_a_phy1: ethernet-phy@1 {
        max-speed = <1000>;
        reg = <1>;
    };
    /* ARQ107 */
    mdio_a_phy3: ethernet-phy@3 {
        compatible = "ethernet-phy-ieee802.3-c45";
        reg = <3>;
    };
};
