// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2019-2020 NXP
 */

/dts-v1/;
#include "fsl-s32g274ardb.dtsi"

/* PMIC */
&i2c4 {
	pf5020_a {
		compatible = "nxp,pf5020";
		reg = <0x9>;
		status = "okay";
	};

	pf5020_b {
		compatible = "nxp,pf5020";
		reg = <0x8>;
		status = "okay";
	};

	fs5600 {
		compatible = "nxp,fs5600";
		reg = <0x18>;
		status = "okay";
	};
};
