CONFIG_ARM=y
CONFIG_ARCH_S32=y
CONFIG_SYS_TEXT_BASE=0x380a0000
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=3
CONFIG_TARGET_S32G274ASIM=y
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_FIT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram rw earlycon"
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_MEMTEST=y
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_SEQ_ALIAS is not set
# CONFIG_MMC is not set
CONFIG_DM_ETH=y
CONFIG_DWC_ETH_QOS_DEVICES=y
CONFIG_FSL_LINFLEXUART=y
