CONFIG_ARM=y
CONFIG_ARCH_S32G2=y
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x1e0000
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MMC=y
CONFIG_CMD_FAT=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_DM_SERIAL=y
