CONFIG_ARM=y
CONFIG_ARCH_S32G2=y
CONFIG_TARGET_S32G274AEMU=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_SD_BOOT=y
# CONFIG_DM_SEQ_ALIAS is not set
# CONFIG_DM_I2C is not set
# CONFIG_SYS_I2C_MXC is not set
# CONFIG_DM_ETH is not set
# CONFIG_PCI is not set
# CONFIG_SPI is not set
# CONFIG_SPI_FLASH is not set
