CONFIG_ARM=y
CONFIG_MACH_S32=y
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x1e0000
CONFIG_NR_DRAM_BANKS=2
CONFIG_TARGET_S32G3XXAEVB=y
CONFIG_FIT=y
CONFIG_SD_BOOT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram rw earlycon"
CONFIG_CMD_CPU=y
CONFIG_CMD_EEPROM=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_ADC=y
CONFIG_CMD_CLK=y
CONFIG_CMD_DM=y
CONFIG_CMD_FUSE=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_PMIC=y
CONFIG_CMD_SMC=y
CONFIG_DEFAULT_DEVICE_TREE="fsl-s32g3xxaevb"
CONFIG_ENV_IS_IN_MMC=y
CONFIG_NET_RANDOM_ETHADDR=y
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_SYS_EEPROM_SIZE=128
CONFIG_SYS_EEPROM_PAGE_WRITE_DELAY_MS=10
# CONFIG_SPI_FLASH_BAR is not set
CONFIG_PHY_FIXED=y
CONFIG_E1000=y
CONFIG_CMD_E1000=y
CONFIG_RGMII=y
CONFIG_USB_ULPI_VIEWPORT=y
CONFIG_USB_ULPI=y
# CONFIG_EFI_LOADER is not set
