CONFIG_FLASH_BOOT=y
CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_S32=y
CONFIG_SYS_TEXT_BASE=0x34020000
CONFIG_TARGET_S32G274ARDB=y
CONFIG_S32_LPDDR4=y
CONFIG_SYS_DDR_SIZE=0x20000000
CONFIG_EXTRA_KERNEL_BOOT_ARGS="usb-storage.quirks=*:*:r"
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_DEFAULT_DEVICE_TREE="fsl-s32g274ardb"
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_TOOLS_DEBUG=y
CONFIG_FIT=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/s32-gen1/s32-gen1.cfg"
CONFIG_USE_BOOTARGS=y
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SMC=y
CONFIG_OF_EMBED=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_SYS_I2C_MXC=y
CONFIG_FSL_ESDHC=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_PHY_ATHEROS=y
CONFIG_PHY_MICREL=y
CONFIG_PHY_MICREL_KSZ90X1=y
CONFIG_PHY_FIXED=y
CONFIG_DM_ETH=y
CONFIG_FSL_PFENG=y
CONFIG_FSL_PFENG_FW_LOC_QSPI=y
CONFIG_FSL_PFENG_EMAC_1_RGMII=y
CONFIG_DWC_ETH_QOS_DEVICES=y
CONFIG_DWC_ETH_QOS_S32CC=y
CONFIG_RGMII=y
CONFIG_FSL_LINFLEXUART=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_FSL_DSPI=y
CONFIG_FSL_QSPI=y
CONFIG_SJA1105=n
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x80000
