CONFIG_ARM=y
CONFIG_ARCH_S32R45=y
CONFIG_TARGET_S32R45RENAN=y
CONFIG_S32CC_HWCONFIG="serdes0:mode=pcie,clock=ext;pcie0:mode=rc;serdes1:mode=pcie,clock=ext;pcie1:mode=rc"
CONFIG_SD_BOOT=y
CONFIG_CUSTOM_SYS_TEXT_BASE=y
CONFIG_SYS_TEXT_BASE=0xb7aa0000
CONFIG_CUSTOM_SYS_DATA_BASE=y
CONFIG_SYS_DATA_BASE=0xb7b40000
