CONFIG_ARM=y
CONFIG_ARCH_S32=y
CONFIG_SYS_TEXT_BASE=0x38020000
CONFIG_TARGET_S32R45X=y
CONFIG_S32_LPDDR4=y
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_FIT=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/s32-gen1/s32-gen1.cfg"
CONFIG_USE_BOOTARGS=y
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_MEMTEST=y
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_SEQ_ALIAS is not set
CONFIG_FSL_ESDHC=y
CONFIG_FSL_LINFLEXUART=y
CONFIG_OF_LIBFDT=y
CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y
CONFIG_DWC_ETH_QOS_DEVICES=y
CONFIG_DWC_ETH_QOS_S32CC=y
