CONFIG_ARM=y
CONFIG_ARCH_S32=y
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=3
CONFIG_TARGET_S32R45EMU=y
CONFIG_S32_ATF_BOOT_FLOW=y
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_TOOLS_DEBUG=y
CONFIG_FIT=y
CONFIG_QSPI_BOOT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram rw earlycon loglevel=7"
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_CMD_MEMTEST=y
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_SEQ_ALIAS is not set
CONFIG_SPI=y
CONFIG_FSL_DSPI=y
