CONFIG_ARM=y
CONFIG_ARCH_S32=y
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x1e0000
CONFIG_NR_DRAM_BANKS=3
CONFIG_TARGET_S32R45EVB=y
CONFIG_S32_LPDDR4=y
CONFIG_DISTRO_DEFAULTS=y
# CONFIG_SYS_MALLOC_F is not set
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_TOOLS_DEBUG=y
CONFIG_FIT=y
CONFIG_SD_BOOT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram rw earlycon loglevel=7"
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_LAST_STAGE_INIT=y
CONFIG_CMD_EEPROM=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_CLK=y
CONFIG_CMD_DM=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SMC=y
CONFIG_DEFAULT_DEVICE_TREE="fsl-s32r45"
CONFIG_ENV_IS_IN_MMC=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DM=y
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_DM_I2C=y
CONFIG_SYS_I2C_MXC=y
CONFIG_MISC=y
CONFIG_I2C_EEPROM=y
CONFIG_SYS_EEPROM_SIZE=128
CONFIG_SYS_EEPROM_PAGE_WRITE_DELAY_MS=10
CONFIG_DM_MMC=y
CONFIG_FSL_USDHC=y
CONFIG_DM_SPI_FLASH=y
# CONFIG_SPI_FLASH_BAR is not set
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_DM_ETH=y
CONFIG_DWC_ETH_QOS_DEVICES=y
CONFIG_DWC_ETH_QOS_S32CC=y
CONFIG_E1000=y
CONFIG_CMD_E1000=y
CONFIG_PCI=y
CONFIG_DM_PCI=y
CONFIG_PCIE_S32GEN1=y
CONFIG_FSL_LINFLEXUART=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_FSL_DSPI=y
CONFIG_FSL_QSPI=y
# CONFIG_EFI_LOADER is not set
