CONFIG_ARM=y
CONFIG_ARCH_S32R45=y
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_SD_BOOT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram rw earlycon loglevel=7"
CONFIG_LAST_STAGE_INIT=y
CONFIG_CMD_CPU=y
CONFIG_CMD_EEPROM=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_ADC=y
CONFIG_CMD_CLK=y
CONFIG_CMD_DM=y
CONFIG_CMD_FUSE=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_SMC=y
CONFIG_NET_RANDOM_ETHADDR=y
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_SYS_EEPROM_SIZE=128
CONFIG_SYS_EEPROM_PAGE_WRITE_DELAY_MS=10
# CONFIG_SPI_FLASH_BAR is not set
CONFIG_PHY_FIXED=y
# CONFIG_FSL_PFENG is not set
CONFIG_E1000=y
CONFIG_CMD_E1000=y
# CONFIG_DM_PMIC is not set
# CONFIG_EFI_LOADER is not set
