CONFIG_ARM=y
CONFIG_ARCH_S32=y
CONFIG_SYS_TEXT_BASE=0x3E820000
CONFIG_TARGET_S32V234CCPB=y
CONFIG_S32_DDR3=y
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/s32v234ccpb/s32v234ccpb.cfg"
CONFIG_USE_BOOTARGS=y
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_SPI=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_DM=y
CONFIG_FSL_CSE3=y
CONFIG_FSL_ESDHC=y
CONFIG_PHYLIB=y
CONFIG_PHY_MICREL=y
CONFIG_PHY_MICREL_KSZ90X1=y
CONFIG_NETDEVICES=y
CONFIG_FSL_LINFLEXUART=y
CONFIG_SPI=y
CONFIG_FSL_DSPI=y
CONFIG_SJA1105=y
CONFIG_OF_LIBFDT=y
