if TARGET_S32V234FVB

config SYS_CPU
	string
	default "armv8"

config SYS_BOARD
	string
	default "s32v234fvb"

config SYS_VENDOR
	string
	default "freescale"

config SYS_SOC
	string
	default "s32v234"

config SYS_CONFIG_NAME
	string
	default "s32v234fvb"

endif
