if TARGET_S32V234PCIE

config SYS_BOARD
	string
	default "s32v234pcie"

config SYS_CONFIG_NAME
	string
	default "s32v234pcie"

config PHY_RGMII_DIRECT_CONNECTED
	bool "Enable fixed PHY for MDIO Bus/PHY emulation with fixed speed/link PHYs"
	default n
	help
	  Adds the platform "fixed" MDIO Bus to cover the boards that use
	  PHYs that are not connected to the real MDIO bus.

endif
