# SPDX-License-Identifier: GPL-2.0+
# Copyright 2022 NXP

if TARGET_S32R45EMU

config SYS_CONFIG_NAME
	default "s32r45emu"

config SYS_BOARD
	default "s32r45emu"

config NR_DRAM_BANKS
	default 2

config BOOTARGS
	default "root=/dev/ram rw earlycon loglevel=7"

endif
